<%= content_for :page_title, 'Resources' %>


<div class="row">
  <div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
    <div data-magellan-expedition="fixed" class="custom-magellan " data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">    
      <ul class="side-nav custom-side-nav">
        <li class="heading" style="color:#e3e3e3;">Resources</li>
        <li class="divider"></li>
        <li><%= link_to "Blogs", resourcexes_path(:scope => 'blog') %></li>
        <li><%= link_to "Newsletters", resourcexes_path(:scope => 'newsletter') %></li>
        <li><%= link_to "Videos", resourcexes_path(:scope => 'video') %></li>
        <li><%= link_to "All", resourcexes_path %></li>
      </ul>
    </div>
  </div>
	<div class="large-9 medium-9 columns bg-right" style="padding-top:25px;" data-equalizer-watch>
  <div id="myModal-content" class="reveal-modal small" data-reveal></div>
        <ul class="no-bullet">
          
          <% @resources.each do |resource| %>
          
          <% case resource.category %>
          <% when 'blog' %>
          	<li>
          		<h3><%= resource.meta['title'] %></h3>
              <% if resource.image? %>
              <%= image_tag resource.image_url, class: 'th-no-hover', alt: resource.meta["title"] %>
              <% end %>
            	<p><%= simple_format resource.meta['body'] %></p>
            	<hr />
            </li>
          <% when 'newsletter' %>
          	<li>
          		<h3><%= resource.meta['title'] %></h3>
            	<p><%= resource.meta['description'] %></p>
            	<%= link_to "Download", resource.attach.url, class: 'button info tiny' %>
            	<hr />
            </li>
          <% when 'video' %>
          	<li>
          		<h3><%= resource.meta['title'] %></h3>
            	<div class="flex-video"><%= content_tag (resource.meta['embed_code']) %></div>
            	<hr />
            </li>
          <% end %>
           
          <% end %>
        </ul>
      <%= render partial: 'layouts/side_footer' %>
</div>
</div>	

