<% case attendee_category
	when 'featured_connect'
		amt = 5000
		txAmt = 0
		psc = 0
		pdc = 0
		tAmt = amt + txAmt + psc + pdc

	when 'connect'
		amt = 3500
		txAmt = 0
		psc = 0
		pdc = 0
		tAmt = amt + txAmt + psc + pdc

	when 'featured_business_card'
		amt = 2500
		txAmt = 0
		psc = 0
		pdc = 0
		tAmt = amt + txAmt + psc + pdc
	else
		# default values
		amt = 5000
		txAmt = 0
		psc = 0
		pdc = 0
		tAmt = amt + txAmt + psc + pdc
		
end %>
<div class="clearfix"></div>
<br>
	<form action="https://www.esewa.com.np/epay/main" method="POST">
	<input value="<%= tAmt %>" name="tAmt" type="hidden">
	<input value="<%= amt %>" name="amt" type="hidden">
	<input value="<%= txAmt %>" name="txAmt" type="hidden">
	<input value="<%= psc %>" name="psc"	 type="hidden">
	<input value="<%= pdc %>" name="pdc" type="hidden">
	<input value="eSewa_clockb" name="scd" type="hidden">
		
	<input value="<%= product_id %>" name="pid" type="hidden">
		
	<input value="<%= esewa_payments_success_url %>" type="hidden" name="su">
		
	<input value="<%= esewa_payments_failure_url %>" type="hidden" name="fu">
		
	<input value="Pay with eSewa" type="submit", class="button expand">
	</form>
<a class="close-reveal-modal">&#215;</a>