<h5>Company/Personal Information</h5>
<div class="dashboard-orbit">
<ul class="example-orbit-content" data-orbit data-options="timer:false;timer_speed:3000;slide_number:false;variable_height:true;">
	<% @remaining_users = Array.new %>
<% @users.each do |user| %>
	<% if user.logo_and_images.any? && user.headline_message? %>
  <li data-orbit-slide="<%= user.id %>">
    <div class="row panel">
    	<div class="columns large-6 medium-6">
    			
	    	<%= image_tag user.logo_and_images.any? ? user.logo_and_images.first.content_url(:slider) : "500.png" %>
	    	<div class="headline-message" style="background-color:white;padding:10px;">
		    	<%= user.headline_message? ? truncate(user.headline_message, length: 150) : "Headline Message" %>
	    	</div>
    	</div>
    	<div class="columns large-6 medium-6">
			<table width="100%" class="panel radius" style="padding:5px;">
				<tbody>
					<tr>
						<th class="subheader">Name</th>
						<td><%= user.inputs['name']%></td>
					</tr>
					<tr>
						<th  class="subheader">Field of Expertise</th>
						<td><%= user.inputs['field_of_expertise']%></td>
					</tr>
    				<tr>
						<th  class="subheader">Year Founded</th>
						<td><%= user.inputs['year_founded']%></td>
					</tr>
					<tr>
						<th  class="subheader">Address</th>
						<td><%= user.inputs['company_address']%></td>
					</tr>
					
					<tr>
						<th  class="subheader">Email(P)</th>
						<td><%= user.inputs['personal_email']%></td>
					</tr>
					
					<tr>
						<th  class="subheader">Phone(P)</th>
						<td><%= user.inputs['phone']%></td>
					</tr>
					
					<tr>
						<th  class="subheader">Website</th>
						<td><%= user.website %></td>
					</tr>
				</tbody>
			</table>
    	</div>
    </div>
  </li>
	<% else %>
		<% @remaining_users << user %>
	<% end %>

<%end%>
			<% @remaining_users_2 = Array.new %>

		<!-- remaining users -->
		<% @remaining_users.each do |user| %>
			<% if user.logo_and_images.any? %>
		  <li data-orbit-slide="<%= user.id %>">
		    <div class="row panel">
		    	<div class="columns large-6 medium-6">
		    			
			    	<%= image_tag user.logo_and_images.any? ? user.logo_and_images.first.content_url(:slider) : "500.png" %>
			    	<div class="headline-message" style="background-color:white;padding:10px;">
				    	<%= user.headline_message? ? truncate(user.headline_message, length: 150) : "Headline Message" %>
			    	</div>
		    	</div>
		    	<div class="columns large-6 medium-6">
					<table width="100%" class="panel radius" style="padding:5px;">
						<tbody>
							<tr>
								<th class="subheader">Name</th>
								<td><%= user.inputs['name']%></td>
							</tr>
							<tr>
								<th  class="subheader">Field of Expertise</th>
								<td><%= user.inputs['field_of_expertise']%></td>
							</tr>
		    				<tr>
								<th  class="subheader">Year Founded</th>
								<td><%= user.inputs['year_founded']%></td>
							</tr>
							<tr>
								<th  class="subheader">Address</th>
								<td><%= user.inputs['company_address']%></td>
							</tr>
							
							<tr>
								<th  class="subheader">Email(P)</th>
								<td><%= user.inputs['personal_email']%></td>
							</tr>
							
							<tr>
								<th  class="subheader">Phone(P)</th>
								<td><%= user.inputs['phone']%></td>
							</tr>
							
							<tr>
								<th  class="subheader">Website</th>
								<td><%= user.website %></td>
							</tr>
						</tbody>
					</table>
		    	</div>
		    </div>
		  </li>
			<% else %>
				<% @remaining_users_2 << user %>
			<% end %>


	<% end %>

<!-- rest of the users -->

	<!-- remaining users -->
	<% @remaining_users_2.each do |user| %>
		<%# if user.logo_and_images.any? %>
	  <li data-orbit-slide="<%= user.id %>">
	    <div class="row panel">
	    	<div class="columns large-6 medium-6">
	    			
		    	<%= image_tag user.logo_and_images.any? ? user.logo_and_images.first.content_url(:slider) : "500.png" %>
		    	<div class="headline-message" style="background-color:white;padding:10px;">
			    	<%= user.headline_message? ? truncate(user.headline_message, length: 150) : "Headline Message" %>
		    	</div>
	    	</div>
	    	<div class="columns large-6 medium-6">
				<table width="100%" class="panel radius" style="padding:5px;">
					<tbody>
						<tr>
							<th class="subheader">Name</th>
							<td><%= user.inputs['name']%></td>
						</tr>
						<tr>
							<th  class="subheader">Field of Expertise</th>
							<td><%= user.inputs['field_of_expertise']%></td>
						</tr>
	    				<tr>
							<th  class="subheader">Year Founded</th>
							<td><%= user.inputs['year_founded']%></td>
						</tr>
						<tr>
							<th  class="subheader">Address</th>
							<td><%= user.inputs['company_address']%></td>
						</tr>
						
						<tr>
							<th  class="subheader">Email(P)</th>
							<td><%= user.inputs['personal_email']%></td>
						</tr>
						
						<tr>
							<th  class="subheader">Phone(P)</th>
							<td><%= user.inputs['phone']%></td>
						</tr>
						
						<tr>
							<th  class="subheader">Website</th>
							<td><%= user.website %></td>
						</tr>
					</tbody>
				</table>
	    	</div>
	    </div>
	  </li>
		<%# else %>
			<%# @remaining_users_3 << user %>
		<%# end %>


<% end %>

</ul>
</div>