    <h4>Message to Freelancer</h4>
      <p>Following user has sent message to a Freelancer:</p>
      <a href="<%= @user_link %>"><%= @user_link %></a>
      <p>Freelancer:</p>
      <a href="<%= @freelancer_link %>"><%= @freelancer_link %></a>
      <p>Message:</p>
      <p><%= simple_format @message %></p>
