<% breadcrumb :events, @events %>
<div class="row">
	<div class="large-8 columns">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel1">All Events</a></dd>
      <dd><a href="#panel2">Upcoming</a></dd>
      <dd><a href="#panel3">Today</a></dd>
      <dd><a href="#panel4">Past</a></dd>
    </dl>
    
    <div class="tabs-content">
      
      <div class="content active" id="panel1">
        <ul>
          <% @events_all.each do |event| %>
            <li><%= link_to event.name, event_path(event) %></li>
            <p><%= event.start_date.strftime('%A, %B %e, %Y') %><br />
            <span class="label"><%= Event.status(event) %></span></p>
          <% end %>
       </ul>
      </div>
  
      <div class="content" id="panel2">
        <ul>
          <% @events_upcoming.each do |event| %>
            <li><%= link_to event.name, event_path(event) %></li>
            <p><%= event.start_date.strftime('%A, %B %e, %Y') %></p>
          <% end %>
        </ul>
      </div>
      
      <div class="content" id="panel3">
        <ul>
          <% @events_today.each do |event| %>
            <li><%= link_to event.name, event_path(event) %></li>
            <p><%= event.start_date.strftime('%A, %B %e, %Y') %></p>
          <% end %>
        </ul>
      </div>
      
      <div class="content" id="panel4">
        <ul>
          <% @events_past.each do |event| %>
            <li><%= link_to event.name, event_path(event) %></li>
            <p><%= event.start_date.strftime('%A, %B %e, %Y') %></p>
            <% end %>
        </ul>
    	</div>
    
    </div>

</div>
</div>	