<% breadcrumb :event, @event %>
<div class="row">
<div class="columns">
<h4><%= @event.name %></h4>
<h5><%= @event.start_date %></h5>

<% if @event.days_left < 0 %>
	<span class="label alert" style="font-size:14px;">Past</span>
<% else %>
	<% if current_member %>
		<% if current_member.events.include?(@event) %>
			<span class="success label" style="font-size:14px;">Signed up</span>
			<div class="clearfix">
				<%= button_to 'Cancel your attendance', unattend_event_path(@event), method: :delete, class: 'button alert', :data => { :confirm => "Are you sure?" } %>
			</div>
		<% else %>
			<%= button_to 'Attend this event', attend_event_path(@event), method: :post, class: 'button' %>
		<% end %>
	<% else %>
		<%= button_to 'Attend this event', attend_event_path(@event), method: :post, class: 'button' %>
	<% end %>
<% end %>
</div>
</div>

<!-- if event_expired
	display expired
else
	if current_member
		if current_member.include.events?
			display signed_up
			display cancel
		else
			display_attend
		end
	else
		display_attend
	end
end
 -->
