        <% breadcrumb :events_upcoming, @events_upcoming %>
<div class="row">
	<div class="large-8 columns">
    <div class="large-4 small-12 medium-12 columns">
    <ul class="side-nav">
      <li class="heading">filter</li>
  <li><%= link_to "All Events", events_path %></li></li>
  <li><a href="#">Past</a></li>
  <li><a href="#">Today</a></li>
  <li class="active"><%= link_to "Upcoming", upcoming_events_path %></li>
</ul>
</div>
<div class="large-8 small-12 columns">
        <ul>
        	<% if @events_upcoming.any? %>
          <% @events_upcoming.each do |event| %>
            <li><%= link_to event.name, event_path(event) %></li>
            <p><%= event.start_date.strftime('%A, %B %e, %Y') %><br />
              <span class="label"><%= Event.status(event) %></span></p>
          <% end %>
          <% else %>
          <p>No upcoming events</p>
          <% end %>
        </ul>
    </div>
</div>
</div>