<!-- Size Classes: [small medium large xlarge expand] -->
<div id="request_form">
	<!-- <div class="alert-box [radius round]" data-alert>Alert<a href="#" class="close">&times;</a></div> -->
	<p class="lead subheader"><%= @_title %></p>
	<% if @_x == 'webinar' %>
			<p class="panel"><%= "You will soon be able to clock in to our webinar service. Stay tuned." %></p>
			<p>&nbsp;</p>
		<% else %>
	<%= form_for @request, remote: true do |f| %>
		<%= f.fields_for :link_params do |k| %>
			<%= k.hidden_field :_x, :value => @_x %>
			<%= k.hidden_field :_y, :value => @_y %>
			<%= k.hidden_field :_z, :value => @_z %>
		<% end %>
		<!-- join as a clock b freelancer -->
		<% if @_x.in?(['join_as_clock_b_freelancer']) %>
			<div class="panel clearfix">
				<p>Press "Send" to continue.</p>
				<%= f.fields_for :form_params do |r| %>
					<%= r.hidden_field :email, value: current_user.email %>
				<% end %>
			</div>
		<% end -%>
		<% if @_x.in?(['vacancy']) %>
			<div class="row">
				<h5>Job Details</h5>
				<div class="columns large-6 panel callout" style="overflow-y:scroll;max-height:400px;">
					<strong>Job Position</strong><%= simple_format @job_title %>
					<strong>Job Description</strong>
					<%= simple_format @job_description %>
					<strong>Job Specification</strong>
					<%= simple_format @job_specification %>
					<strong>Minimum Requirement</strong>
					<%= simple_format @minimum_requirement %>
					<strong>Number of Positions</strong>
					<%= simple_format @number_of_vacancies %>
				</div>
				<div class="columns large-6">
					<%= f.fields_for :form_params do |q| %>
					<%= q.text_field :name, :placeholder => 'Name', required: true %>
					<%= q.email_field :email, :placeholder => 'Email', required: true %>
					<% end %>
						<fieldset>
					    	<legend>Attach CV</legend>
					    	<%= f.hidden_field :attachment_cache %>
							<%= f.file_field :attachment, required: :true, class: 'button secondary tiny' %>
							<!-- <label><em>Allowed file types: pdf, doc, docx</em></label> -->
						</fieldset>
						<!-- , OpenStruct.new(@request.form_params) -->
						<%= f.fields_for :form_params do |r| %>
							<%= r.text_area :comment, :placeholder => 'Why you\'re applying?', required: true, rows: 7 %>
						<% end %>
				</div>
			</div>
		<% end %>
				
		<% if @_x.in?(['internship']) %>
			<%= f.fields_for :form_params do |q| %>
			<%= q.text_field :name, :placeholder => 'Name', required: true %>
			<%= q.email_field :email, :placeholder => 'Email', required: true %>
			<% end %>
			<fieldset>
		    	<legend>Attach CV</legend>
		    	<%= f.hidden_field :attachment_cache %>
				<%= f.file_field :attachment, required: :true, class: 'button secondary tiny' %>
				<!-- <label><em>Allowed file types: pdf, doc, docx</em></label> -->
			</fieldset>
			<!-- , OpenStruct.new(@request.form_params) -->
			<%= f.fields_for :form_params do |r| %>
				<%= r.text_area :comment, :placeholder => 'Why you\'re applying?', required: true, rows: 6 %>
			<% end %>
		<% end %>
		<% if @_x.in?(['meeting']) %>
	
		<%#= f.hidden_field :form_params, :value => @_x %>
		<!-- , OpenStruct.new(@request.form_params) -->
		<%= f.fields_for :form_params do |r| %>
			<%= r.text_field :name, :placeholder => 'Name', required: true %>
			<%= (r.text_field :company, :placeholder => 'Company', required:true) unless @_y == 'weekly' %>
			<%= r.telephone_field :phone, :placeholder => 'Phone', required: true %>
			<%= r.email_field :email, :placeholder => 'Email', required: true %>
		<% end %>
		<% end %>
		<% if @_x.in?(['meeting']) %>

		<div class="clearfix"></div>
		<div id="note" style="margin-top:10px;padding-top:10px;border-top:1px solid #e3e3e3;"><p>NOTE: <u>Request for meeting</u> for international &amp; clients outside Kathmandu valley; meeting will be scheduled via webinar.</p></div>
		<% end %>
		<% if @_x.in?(['premium','animated_video']) %>
			<p class="panel"><%= "Press 'Send' to continue." %></p>
		<% end %>
		<% if @_x.in?(['delete_animated_video']) %>
			<p class="panel"><%= "Press 'Ok' to continue." %></p>
		<% end %>

		<% if @_x.in?(['event']) && @_y.in?(['weekly']) %>
			<%= f.fields_for :form_params do |r| %>
				<%= r.text_field :name, :placeholder => 'Name', required: true %>
				<%= (r.text_field :company, :placeholder => 'Company', required:true) unless @_y == 'weekly' %>
				<%= r.telephone_field :phone, :placeholder => 'Phone', required: true %>
				<%= r.email_field :email, :placeholder => 'Email', required: true %>
			<% end %>
		<% end %>
		<% if @_x.in?(['event']) && @_y.in?(['main']) %>
			<%= f.fields_for :form_params do |r| %>
				<%= r.text_field :name, :placeholder => 'Name', required: true %>
				<%= (r.text_field :company, :placeholder => 'Organization', required:false) unless @_y == 'weekly' %>
				<%= r.email_field :email, :placeholder => 'Email', required: true %>
				<%= r.telephone_field :phone, :placeholder => 'Contact No.', required: true %>
				<%= r.text_field :field_of_expertise, :placeholder => 'Field of Expertise', required: false %>
				<%= r.text_field :address, :placeholder => 'Address', required: false %>
				<div class="clearfix"></div>

				<span>Attendee Category</span><br>
				<%= r.radio_button :attendee_category, "featured_connect" %>
				<%= r.label :attendee_category, "Featured Connect", value: "featured_connect" %>
				<%= r.radio_button :attendee_category, "connect" %>
				<%= r.label :attendee_category, "Connect", value: "connect" %>
				<%= r.radio_button :attendee_category, "featured_business_card" %>
				<%= r.label :attendee_category, "Featured Business Card", value: "featured_business_card" %>
				<div class="clearfix"></div>

				<span>Payment Options</span><br>
				<%= r.radio_button :payment_options, "cheque" %>
				<%= r.label :payment_options, "Cheque", value: "cheque" %>
				<%= r.radio_button :payment_options, "cash" %>
				<%= r.label :payment_options, "Cash", value: "cash" %>
				<%= r.radio_button :payment_options, "bank_transfer" %>
				<%= r.label :payment_options, "Bank transfer/Deposit", value: "bank_transfer" %>
				<div class="clearfix"></div>
			<% end %>
		<% end %>

		<%= f.submit @_x.in?(['delete_animated_video']) ? "Ok" : "Send", class: 'button right small' %>
		<% end %>

	<div class="preloader hide"><p class="label radius secondary"><i class="fi-minus-circle">&nbsp;</i>Working</p></div>
	<div class="errors hide"><p class="label radius secondary" style="color:red;"><i class="fi-x">&nbsp;</i>Error</p></div>
	<div class="success hide"><p class="label radius secondary" style="color:green;"><i class="fi-check">&nbsp;</i>Success</p></div>
</div>
<% end %>
<a class="close-reveal-modal">&#215;</a>

