<!-- Size Classes: [small medium large xlarge expand] -->
<div id="request_form">
	<!-- <div class="alert-box [radius round]" data-alert>Alert<a href="#" class="close">&times;</a></div> -->
	
	<div class="success"><ul></ul></div>
	<% if @request_for == 'internship' %>
		<p class="lead">Apply for internship</p>
		<%= form_for @request, remote: true, :disable_with => 'Sending...' do |f| %>
			<%= f.hidden_field :request_for, :value => 'internship' %>
			<div class="errors"></div>
			<fieldset>
		    	<legend>Attach CV</legend>
		    	<%= f.hidden_field :attachment_cache %>
				<%= f.file_field :attachment, required: :true, class: 'button secondary tiny' %>
				<!-- <label><em>Allowed file types: pdf, doc, docx</em></label> -->
			</fieldset>
			<!-- , OpenStruct.new(@request.request_by) -->
			<%= f.fields_for :request_by do |r| %>
				<%= r.text_area :comment, :placeholder => 'Why you\'re applying?', required: true, rows: 6 %>
			<% end %>
			<%= f.submit "Send", class: 'button small right' %>
		<% end %>
	<% else %>
	<p class="lead">Request for meeting</p>
	<%= form_for @request, remote: true do |f| %>
		<%= f.hidden_field :request_for, :value => @request_for %>
		<!-- , OpenStruct.new(@request.request_by) -->
		<%= f.fields_for :request_by do |r| %>
			<%= r.text_field :name, :placeholder => 'Name', required: true %>
			<%= r.text_field :company, :placeholder => 'Company' %>
			<%= r.text_field :phone, :placeholder => 'Phone', required: true %>
			<%= r.text_field :email, :placeholder => 'Email', required: true %>
		<% end %>
		<%= f.submit "Send", class: 'button small right' %>
	<% end %>
	<div class="note" style="margin-top:10px;padding-top:10px;border-top:1px solid #e3e3e3;"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p></div>
	<% end %>
	<div class="preloader"></div>
</div>
<a class="close-reveal-modal">&#215;</a>

