<!-- main event layout -->
		<div class="">
					<% unless @v_main.empty? %>
						<% @v_main.each do |v_main| %>
						<!-- Main Event -->
						<a data-magellan-destination="<%= v_main.form_params['name'].parameterize %>" name="<%= v_main.form_params['name'].parameterize %>"></a>
						<h4><%= v_main.form_params['name'] %></h4>
						<% if v_main.attachment.present? %>
						<%= image_tag v_main.attachment.url, class: 'lazyload th-no-hover' %>
						<% end -%>
						<div class="clearfix"></div>
						<br>
						<div id="_request_for_event_id_<%= v_main.id %>">
										<%= render partial: "shared/register_for_event", locals: {_y: 'main', _z: v_main.id} %>
						</div>
						
						<ul class="no-bullet">
							<li><strong>Start Date:</strong> <%= v_main.start_date? ? v_main.start_date.strftime('%A, %B %e, %Y') : '-' %></li>
							<li><strong>Time:</strong> <%= v_main.form_params['start_time'] %></li>
							<li><strong>Venue:</strong> <%= v_main.form_params['venue'] %></li>
							<li><strong>No. of Participants:</strong> <%= v_main.attendees_limit %></li>
							<% if v_main.document? %>
							<li><strong>About Business Networking Hours with Timeline:</strong><%= link_to " Download", v_main.document_url, class: "" %></li>
							<% end -%>
						</ul>
				<br />
				<h5>Details</h5>
				<% unless params[:id] %>
				<div class="readmore">
				<% end %>
					<%= v_main.form_params['description'].html_safe %>

				<div class="clearfix"></div>
				<div class="clearfix">
					<% @v_main_sliders = MainEventSlider.where(:event_id => v_main.id) %>
					<% if !@v_main_sliders.empty? %>
					<ul class="example-orbit" data-orbit>
						<% @v_main_sliders.each do |main_slider| %>
		
					  <li>
					    <%= image_tag main_slider.image_url(:slider_main) %>
					    <% if !main_slider.caption.blank? %>
					    <div class="orbit-caption">
					      Caption One.
					    </div>
					    <% end %>
					  </li>
						<% end %>
					</ul>
					<% end %>
				</div>
				<div id="description_two clearfix">
					<%= v_main.form_params['description_two'].html_safe unless v_main.form_params['description_two'].blank? %>
				</div>
				<% 
					@v_main_price_and_mileages = MainEventPriceAndMileage.where(:event_id => v_main.id)
					unless @v_main_price_and_mileages.empty?
				%>
						<table width="100%">
							<thead>
								<tr>
									<th width="25%">Attendee Category</td>
									<th width="25%">Price - What do you pay?</td>
									<th width="50%">Mileage - What do you get?</td>
								</tr>
							</thead>
							<tbody>
				<%
						@v_main_price_and_mileages.each do |price_and_mileage|
				%>
								<tr>
									<td width= "25%"><%= price_and_mileage.attendee_category %></td>
									<td width="25%"><%= price_and_mileage.price %></td>
									<td width="50%">
										<ul class="no-bullet change-color">
										<li>
										<%= price_and_mileage.mileage.split("\n").join("</li><li>").html_safe %>
										</li>
										</ul>
									</td>
								</tr>
				<%
						end
				%>
								</tbody>
							</table>
				<%
					end
				%>
				<div id="description_three">
					<%= v_main.form_params['description_three'].html_safe unless v_main.form_params['description_three'].blank? %>
				</div>
		<div class="clearfix"></div>
				<div id="_request_for_event_id_<%= v_main.id %>">
								<%= render partial: "shared/register_for_event", locals: {_y: 'main', _z: v_main.id} %>
				</div>
<div class="hide">
				<div class="clearfix"></div>
				<hr>
				<h4>Thread Discussion</h4>
				<% unless user_signed_in? %>
					<p>Click <a href="/sign_in">here</a> to sign in first</p>
				<% else %>
				<!-- new thread discussion starts -->
				<%= render partial: "event_discussions/new", locals: {event_id: v_main.id, user_id: current_user.id} %>
				<!-- new thread discussion ends -->
				
				<!-- existing thread discussion starts -->
				<%= render partial: "event_discussions/show", locals: {event_id: v_main.id, user_id: current_user.id} %>
				<!-- existing thread discussion ends -->
				<% end -%>

</div>
				<% end %>
				<% end %>
				<% unless params[:id] %>
				</div> <!-- readmore -->
				<% end %>
				</div> <!-- panel -->
		<!-- main event layout ends -->
