<%= content_for :page_title, 'Browse our events' %>


<div class="row">
  <div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
    <ul class="side-nav">
      <li class="heading" style="color:#e3e3e3;">Browse our Events</li>
      <li class="divider"></li>
    </ul>
  </div>
	<div class="large-9 medium-9 columns bg-right" style="padding-top:25px;" data-equalizer-watch>
  <div id="myModal-content" class="reveal-modal small" data-reveal></div>
        <ul class="no-bullet">
          <% if !@events_single.nil? %>
            <li><h4><%= @events_single.form_params['name'] %></h4></li>
            <p>&nbsp;</p>
            <p><%= image_tag @events_single.attachment.slider, class: 'th-no-hover lazyload' %></p>
            <p><%= @events_single.form_params['description'] %></p>
            <p>
              <strong>Date: </strong><%= @events_single.start_date.strftime('%A, %B %e, %Y') %><br />
              <strong>Time: </strong><%= @events_single.form_params['start_time'] %><br />
              <strong>Venue: </strong><%= @events_single.form_params['venue'] %><br />
            </p>
            <%= render partial: "shared/register_for_event", locals: {_z: @events_single.id } %>

            <hr />
          <% else %>
          <% @events_all.each do |event| %>
            <li><h5><%= event.form_params['name'] %></h5></li>
            <p>&nbsp;</p>
            <p><%= image_tag event.attachment.slider, class: 'th-no-hover lazyload' %></p>
            <p><%= event.form_params['description'] %></p>
            <p>
              <strong>Date: </strong><%= event.start_date.strftime('%A, %B %e, %Y') %><br />
              <strong>Time: </strong><%= event.form_params['start_time'] %><br />
              <strong>Venue: </strong><%= event.form_params['venue'] %><br />
            </p>
            <%= render partial: "shared/register_for_event", locals: {_z: event.id } %>

            <hr />
          <% end %>
          <% end %>
        </ul>
      <%= render partial: 'layouts/side_footer' %>
</div>
</div>	


"0">All Categories</option>"6">&nbsp;&nbsp;Apparels &amp; Accessories</option>"78">&nbsp;&nbsp;Audio &amp; Video</option>"1">&nbsp;&nbsp;Automobiles</option>"9">&nbsp;&nbsp;Beauty &amp; Health</option>"10">&nbsp;&nbsp;Books &amp; Magazines</option>"260">&nbsp;&nbsp;Business &amp; Industrial</option>"3">&nbsp;&nbsp;Computer &amp; Peripherals</option>"4">&nbsp;&nbsp;Consumer Electronics</option>"130">&nbsp;&nbsp;Events &amp; Happenings</option>"7">&nbsp;&nbsp;Home, Furnishing &amp; Appliances</option>"2">&nbsp;&nbsp;Mobile &amp; Accessories</option>"8">&nbsp;&nbsp;Music &amp; Sports</option>"241">&nbsp;&nbsp;Pets &amp; Pet Care</option>"112">&nbsp;&nbsp;Real Estate</option>"135">&nbsp;&nbsp;Services</option>"5">&nbsp;&nbsp;Toys &amp; Video Games</option>"167">&nbsp;&nbsp;Want To Buy(Buyer List)</option>    


