<%= content_for :page_title, 'Browse our events' %>


<div class="row">
  <div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
    <ul class="side-nav">
      <li class="heading" style="color:#e3e3e3;">Browse our Events</li>
      <li class="divider"></li>
    </ul>
  </div>
	<div class="large-9 medium-9 columns bg-right" style="padding-top:25px;" data-equalizer-watch>
  <div id="myModal-content" class="reveal-modal small" data-reveal></div>
  <%if @events_all.blank? %>
  <%= image_tag "http://res.cloudinary.com/hn61epjje/image/upload/v1457032673/Browse_kjiqn7.png", class: 'th-no-hover' %>
  <hr>
  <% end %>
        <ul class="no-bullet">
          <% if !@events_single.nil? %>
            <li><h4><%= @events_single.form_params['name'] %></h4></li>
            <% if !@events_single.attachment.blank? %>
            <p><%= image_tag @events_single.attachment_url, class: 'th-no-hover lazyload' %></p>
            <% end %>
            <p><%= @events_single.form_params['description'] %></p>
            <p>
              <strong>Date: </strong><%= @events_single.start_date? ? @events_single.start_date.strftime('%A, %B %e, %Y') : '-' %><br />
              <strong>Time: </strong><%= @events_single.form_params['start_time'] %><br />
              <strong>Venue: </strong><%= @events_single.form_params['venue'] %><br />
            </p>
            <%= render partial: "shared/register_for_event", locals: {_y: @events_single.form_params['type'], _z: @events_single.id } %>

            <hr />
          <% else %>
          <% @events_all.each do |event| %>
            <li><h5><%= event.form_params['name'] %></h5></li>
            <% if !event.attachment.blank? %>
            <p><%= image_tag event.attachment_url, class: 'th-no-hover lazyload' %></p>
            <% end %>
            <p><%= event.form_params['description'] %></p>
            <p>
              <strong>Date: </strong><%= event.start_date? ? event.start_date.strftime('%A, %B %e, %Y') : '-' %><br />
              <strong>Time: </strong><%= event.form_params['start_time'] %><br />
              <strong>Venue: </strong><%= event.form_params['venue'] %><br />
            </p>
            <%= render partial: "shared/register_for_event", locals: {_y: event.form_params['type'], _z: event.id } %>

            <hr />
          <% end %>
          <% end %>
        </ul>
      <%= render partial: 'layouts/side_footer' %>
</div>
</div>	

