<%= content_for :page_title, 'Browse our events' %>
<div class="full" data-equalizer>
<div class="column-fluid bg-left" data-equalizer-watch></div>
<div class="column-fixed">

<div class="row">
  <div class="large-4 columns bg-left hide-for-small-only" data-equalizer-watch>
    <ul class="side-nav">
      <li class="heading" style="color:#e3e3e3;">Browse our Events</li>
      <li class="divider"></li>
    </ul>
  </div>
	<div class="large-8 columns bg-right" style="padding-top:25px;" data-equalizer-watch>
  <div id="myModal-content" class="reveal-modal small" data-reveal></div>
        <ul class="no-bullet">
          <% if !@events_single.nil? %>
            <li><h4><%= @events_single.form_params['name'] %></h4></li>
            <p>&nbsp;</p>
            <p><%= image_tag @events_single.attachment.slider, class: 'th-no-hover lazyload' %></p>
            <p><%= @events_single.form_params['description'] %></p>
            <p>
              <strong>Date: </strong><%= @events_single.start_date.strftime('%A, %B %e, %Y') %><br />
              <strong>Time: </strong><%= @events_single.form_params['start_time'] %><br />
              <strong>Venue: </strong><%= @events_single.form_params['venue'] %><br />
            </p>
            <%= render partial: "shared/register_for_event", locals: {_z: @events_single.id } %>

            <hr />
          <% else %>
          <% @events_all.each do |event| %>
            <li><h5><%= event.form_params['name'] %></h5></li>
            <p>&nbsp;</p>
            <p><%= image_tag event.attachment.slider, class: 'th-no-hover lazyload' %></p>
            <p><%= event.form_params['description'] %></p>
            <p>
              <strong>Date: </strong><%= event.start_date.strftime('%A, %B %e, %Y') %><br />
              <strong>Time: </strong><%= event.form_params['start_time'] %><br />
              <strong>Venue: </strong><%= event.form_params['venue'] %><br />
            </p>
            <%= render partial: "shared/register_for_event", locals: {_z: event.id } %>

            <hr />
          <% end %>
          <% end %>
        </ul>
      <%= render partial: 'layouts/side_footer' %>
</div>
</div>	

</div>
<div class="show-for-large-up column-fluid bg-right" data-equalizer-watch></div>
</div>