<%= content_for :page_title, 'Browse our events' %>


<div class="row">
  <div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
    <ul class="side-nav">
      <li class="heading" style="color:#e3e3e3;">Browse our Events</li>
      <li class="divider"></li>
    </ul>
  </div>
	<div class="large-9 medium-9 columns bg-right" style="padding-top:25px;" data-equalizer-watch>
  <div id="myModal-content" class="reveal-modal small" data-reveal></div>
  <%if @events_all.blank? %>
  <%= image_tag "http://res.cloudinary.com/hn61epjje/image/upload/v1457032673/Browse_kjiqn7.png", class: 'th-no-hover' %>
  <hr>
  <% end %>
        <ul class="no-bullet">
          <% if !@events_single.nil? %>
            <% if @events_single.form_params['type'] == 'main' %>
            <%= render partial: "pages/main_event" %>
            <% else %>
            <li><h4><%= @events_single.form_params['name'] %></h4></li>
            
            <% if !@events_single.attachment.blank? %>
            <p><%= image_tag @events_single.attachment_url, class: 'th-no-hover lazyload' %></p>
            <% end %>
          
            
              <p><%= @events_single.form_params['description'] %></p>
              <p>
                <strong>Date: </strong><%= @events_single.start_date? ? @events_single.start_date.strftime('%A, %B %e, %Y') : '-' %><br />
                <strong>Time: </strong><%= @events_single.form_params['start_time'] %><br />
                <strong>Venue: </strong><%= @events_single.form_params['venue'] %><br />
                <% if @events_single.form_params['type'] == 'main' %>
                  <strong>No. of Participants:</strong> <%= @events_single.attendees_limit %></br>
                        <% if @events_single.document? %>
                        <strong>Document:</strong><%= link_to " Download", @events_single.document_url, class: "" %>
                        <% end -%>

                <% end -%>
              </p>
              
              <div id="_request_for_event_id_<%= @events_single.id %>">
              <%= render partial: "shared/register_for_event", locals: {_y: @events_single.form_params['type'], _z: @events_single.id } %>
              </div>
            <% end %>

            <hr />
          <% else %>
          
          <%= render partial: "pages/main_event" %>
          <div class="clearfix"></div>
  <hr>
     <% unless @v_weekly.empty? %>
      <% @v_weekly.each_with_index do |v_weekly, index| %>
    <!-- Weekly Event -->
    <h4><%= v_weekly.form_params['name'] %></h4>
    <div class="clearfix">
      <% if !v_weekly.attachment.blank? %>
        <%= image_tag v_weekly.attachment_url(:featured), class: 'th-no-hover lazyload' %>
    <% end %>
    </div>
    <br />
    <h5>Event Insights</h5>
    <p><%= v_weekly.form_params['description'] %></p>
        <ul class="no-bullet">
      <li><strong>Start Date:</strong> <%= v_weekly.start_date? ? v_weekly.start_date.strftime('%A, %B %e, %Y') : '-' %></li>
      <li><strong>Time:</strong> <%= v_weekly.form_params['start_time'] %></li>
      <li><strong>Venue:</strong> <%= v_weekly.form_params['venue'] %></li>
      <li><strong>No. of Participants:</strong> <%= v_weekly.attendees_limit %></li>
    </ul>
    <div id="_request_for_event_id_<%= v_weekly.id %>">
    <%= render partial: "shared/register_for_event", locals: {_y: 'weekly', _z: v_weekly.id } %>
  </div>
    <%= "<hr />".html_safe unless index == @v_weekly.size - 1 %>
    <% end %>
    <% end %>
          <% end %>
        </ul>
        
      <%= render partial: 'layouts/side_footer' %>
</div>
</div>	

