<%= content_for :page_title, 'Careers' %>
<div class="row">
	<div class="large-4 medium-5 columns width-finder">
	<div id="myModal-content" class="reveal-modal small" data-reveal></div>
<!-- Magellan Menu -->
	<div data-magellan-expedition="fixed" class="custom-magellan hide-for-small-only" data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
		<ul class="side-nav custom-side-nav">
			<li class="heading">careers</li>
	    	<li data-magellan-arrival="working-with-clockb"><a href="#working-with-clockb">Working with Clockb</a></li>

	    	<li data-magellan-arrival="recent-vacancies"><a href="#recent-vacancies">Recent Vacanices</a></li>
	    	<li data-magellan-arrival="intern-with-clockb"><a href="#intern-with-clockb">Intern with Clockb</a></li>
	  	</ul>
	</div>
	
	</div>
	<div class="large-8 medium-7 columns">
		<br />
		<%= image_tag "1000x500.png", class: 'th-no-hover lazyload' %>
		<br />
		<br />
		<a data-magellan-destination="working-with-clockb" name="working-with-clockb"></a>
		<h4>Working with Clockb</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul>
			<li>Nature of work</li>
			<li>Employees' Perspective</li>
			<li>What we look for</li>
		</ul>
		<hr />
		<a  data-magellan-destination="recent-vacancies" name="recent-vacancies"></a>
		<h4>Recent Vacancies</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<table>
				<thead><tr>
					<th>Job position</th>
					<th>No.</th>
					<th>Min. Requirement</th>
					<th>Job Despcription</th>
					<th colspan="2">Job Specification</th>
				</tr></thead>
				<tbody>
				<% @vacancy.each do |vacancy| %>
					<tr>
				<% vacancy.content.each_value do |value| %>
					<td><%= value %></td>
				<% end %>
					<td><a href="#" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path %>?request_for=vacancy&amp;vacancy_id=<%= vacancy.id %>" class="" data-type="JSON">Apply</a></td>
					</tr>
				<% end %>
				</tbody>			
		</table>
		<hr />
		<a  data-magellan-destination="intern-with-clockb" name="intern-with-clockb"></a>
		<h4>Internship</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<div id="request-for-x" class="clearfix">
			<a href="<%= new_request_path %>?request_for=internship" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button secondary tiny" data-type="JSON">Apply as a Intern</a>
		</div>
		<hr />
		<%= render partial: 'layouts/side_footer' %>
	</div>


<!-- <ul class="side-nav">
	<li class="heading">Company Profile</li>
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul> -->
</div>