<%= content_for :page_title, 'Careers' %>
<div class="row">
	<div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
	<div id="myModal-content" class="reveal-modal small" data-reveal></div>
<!-- Magellan Menu -->
	<div data-magellan-expedition="fixed" class="custom-magellan" data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
		<ul class="side-nav custom-side-nav">
			<li class="heading">careers</li>
	    	<li data-magellan-arrival="working-with-clockb"><a href="#working-with-clockb">Working with Clockb</a></li>

	    	<li data-magellan-arrival="recent-vacancies"><a href="#recent-vacancies">Recent Vacanices</a></li>
	    	<li data-magellan-arrival="internship-with-clockb"><a href="#internship-with-clockb">Internship with Clockb</a></li>
	  	</ul>
	</div>
	
	</div>
	<div class="large-9 medium-9 columns bg-right" data-equalizer-watch>
		<br />
		<%= image_tag "careers.jpg", class: 'th-no-hover lazyload', style: 'width: 100%;' %>
		
		<br />
		<hr>
		<a data-magellan-destination="working-with-clockb" name="working-with-clockb"></a>
		<h4>Working with Clockb</h4>
		<h5>Nature of work</h5>
<p>Our clients come to us to find solutions to their complex problems; that is what we work with. Every client faces dissimilar problems, so for us to deliver the tailored solution we need to keep learning and innovating. Furthermore, we serve assorted groups of industries, which then require us to remain informed and updated about different industrial clusters. We help companies transform into upgraded version of what they are now, to build their own story of success. To get that done, we would need to: <p>
<div class="panel"><blockquote class="text-center">Evolve. Learn. Innovate.</blockquote></div>

<h5>Employees’ Perspective</h5>
{{Text}}
<h5>What we look for</h5>
<p>A company is only as smart and innovative as their employees are. That is why Clock b intends to work with such interesting and smart individuals. We believe our company would continue to evolve with your help. We would learn some of your strength and teach you some of ours. Join our team if you:</p>
<div class="panel" style="color:blue;"><ul class="no-bullet change-color">
	<li>Are an independent thinker and can work in a team.</li>
	<li>Have appetite to learn, explore and evolve.</li>
	<li>Possess desire to work as if the workplace is the classroom.</li>
	<li>Are willing to take on problems and find its solutions</li>
	</ul></div>
		<hr />
		<a  data-magellan-destination="recent-vacancies" name="recent-vacancies"></a>
		<h4>Recent Vacancies</h4>
			<table width="100%">
				<% if @vacancy.empty? %>
				<thead><tr><th><p><em style="font-size:smaller;">There are no vacanices at the moment.</em></p></th></tr></thead>
				<% else %>
				<thead><tr>
					<th>Job position</th>
					<th>No.</th>
					<th>Application Deadline</th>
					<th>&nbsp;</th>
				</tr></thead>
				<% end %>
				<tbody>
				<% @vacancy.each do |vacancy| %>
					<tr>
				<%# vacancy.content.each_value do |value| %>
					<td><%= vacancy.content['job_title'] %></td>
					<td><%= vacancy.content['number_of_vacancies'] %></td>
					<td><%= vacancy.content['application_deadline'] %></td>
				<%# end %>
					<td><a href="#" id="myModal-button" data-reveal-id="myModal-vacancy" data-reveal-ajax="<%= new_request_path %>?_x=vacancy&amp;_z=<%= vacancy.id %>" class="right" data-type="JSON">View Details</a></td>
					</tr>
				<% end %>
				</tbody>			
		</table>
	<div id="myModal-vacancy" class="reveal-modal medium" data-reveal></div>

		<hr />
		<a  data-magellan-destination="internship-with-clockb" name="internship-with-clockb"></a>
		<h4>Internship with Clock b</h4>
		<p>Our internship program is a unique opportunity to learn about the world of consulting and business services. During the internship, students will work alongside the Clock b team which would enable them to assess if their career truly lies in the field of management consulting or in specialized business services. At the end of the internship program Clock b Business Innovations would make the decision of whether or not to extend the intern a permanent offer. Our internship is best suited for undergraduate and post- graduate students of management field. If you willing to learn the art of consulting, come be an intern.</p>
		<div id="request-for-x" class="clearfix">
			<a href="#" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path %>?_x=internship" class="button info tiny" data-type="JSON">Apply as a Intern</a>
		</div>
		<hr />
		<%= render partial: 'layouts/side_footer' %>
	</div>

</div>