<%= content_for :page_title, 'Clock b' %>
<div class="row">
	<div class="large-3 medium-3 columns hide-for-small-only width-finder bg-left" data-equalizer-watch>
			
	<!-- Magellan Menu -->
		<div data-magellan-expedition="fixed" class="custom-magellan " data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
			<!-- <div class="fixed large-4 columns"> -->
			<ul class="side-nav custom-side-nav">
				<li class="heading">Company Profile</li>
		    	<li data-magellan-arrival="our-company"><a href="#our-company">Our Company</a></li>
		    	<li data-magellan-arrival="culture-and-values"><a href="#culture-and-values">Culture &amp; Values</a></li>
		    	<li data-magellan-arrival="our-people"><a href="#our-people">Our People</a></li>
		    	<li data-magellan-arrival="our-clients"><a href="#our-clients">Our Clients</a></li>
		    	<li data-magellan-arrival="know-the-team"><a href="#know-the-team">Know the Team</a></li>
		    	<li data-magellan-arrival="who-we-are-for"><a href="#who-we-are-for">Who we are for?</a></li>
		    	<li data-magellan-arrival="request-for-meeting"><a href="#request-for-meeting">Request for Meeting</a></li>
		    	<li class="divider" style="margin:20px 0px;"></li>
		    	<li class="" style="color:#e3e3e3;">WHY CLOCK b?</li>
		    	<li data-magellan-arrival="our-perspective"><a href="#our-perspective">Our Perspective</a></li>
		    	<li data-magellan-arrival="experts-perspective" class="hide"><a href="#experts-perspective">Experts' Perspective</a></li>
		    	<li data-magellan-arrival="clients-perspective"><a href="#clients-perspective">Clients' Perspective</a></li>
		  	</ul>
		  <!-- </div> -->
		</div>
		
		</div>
	<div class="large-9 medium-9 columns bg-right" data-equalizer-watch>
		    <!-- Flash messages -->
    <div id="messages" class="clearfix">
      <%= render 'layouts/messages' %>
    </div>
    <a data-magellan-destination="our-company" name="our-company"></a>
		<%= image_tag "http://res.cloudinary.com/hn61epjje/image/upload/v1457021975/Stand_Out_o7hg1g.jpg", class: 'th-no-hover lazyload', style: "width: 100%;" %>
		
		
		<!-- <h2>Company Profile</h2> -->
		<br />
		<hr>
		<h4>Our Company</h4>
		<div class="readmore">
		<p>Clock b Business Innovations aspires at providing more pragmatic, focused and best innovation, outsourcing, networking, consulting and other essential business services to all of our clients. We at Clock b Business Innovations helps other businesses boom and elevate their brand to new and ultimate heights. Innovating businesses and their products or services and maintaining the quality of it is the defining part of our business. We provide and deploy unique yet innovative ideas and strategies after a thorough research for all our clients. We provide management consulting services to broad range of organisations; from start-ups to existing big players of the market or even to the non-profit organisations.</p> 
		
<p>Clock b is not limited to consulting and innovating services, as we also offer services in strategizing, marketing, organisational, operational, financing, technological, networking, human resources, mergers and acquisitions across all industrial sectors. Not only we aid our clients in making unique strategies and plans according to their requirement and potential but we also help implement those strategies and plans. We support our clients in important decision making process in all management related issues. We work along with our clients blending our expertise and experience with the clients’ in order to help our clients prosper and get the competitive edge in order to build a long term enterprise value. </p>
<p>We provide research information about different industrial sectors and conduct assortments of research as per the need of our clients. We assist in achieving growth for a very foreseeable future by distinctly forecasting the futuristic condition of the industry and getting experts’ opinions and insights to come up with strategies and plans to overcome the risk and obstacles associated with it. We clearly address the problems of now and the future pinpointing the toughest challenge that our client face or may face, and take on those perspective and current challenges to help them win over it. We uniquely place every client and provide select services such that it matches the values of our clients plus help them; realise risks associated with results, calculate the risks and innovate ideas and plans to overcome it. </p>
<p>Clock b Business Innovations aims to at all times maintain the upmost levels of service for our clients and strives to place itself at the forefront of Business Innovation Services within the Business industry.</p></div>
<hr>
		<a  data-magellan-destination="culture-and-values" name="culture-and-values"></a>
		<h4>Culture &amp; Values</h4>
		<div class="readmore">
				<p>Our culture lets us to uniquely perform our tasks and defines our behaviour and values. Our work culture highlights our unique personality and our passion to serve our clients at apogee level. We work with a belief that the success of our clients is what helps the success of Clock b Business Innovations. In order to live by our belief we construct our clients to make lasting and substantial progress in their performance to develop itself into a celebrated firm.</p> 
		<p>We value all the people associated with our firm, and continually work on their developments in both professional and personal levels. We serve the interest of all associated people and look forward to maintain lasting and undying relationships with our clients. Clock b Business Innovations intends on maintaining confidentiality of our clients and delivers lasting services within the best of interests of our clients. We stay true to our clients and make promises that are achievable and realistic. As efficient as we are with our services we are also similarly efficient with our client’s time. We use resources of ours and that of our clients’ as cost effective as possible and yet deliver the very best of professional services. With our honesty and excellence we assist our clients to stay productive and innovative. We match our clients with assortments of networking options for them to keep evolving in their industry.</p> </div>
		<hr>
		<a  data-magellan-destination="our-people" name="our-people"></a>
		<h4>Our people</h4>
		<p>Our people are the ones that lay the foundation to provide the superior services that we promise to our clients. Clock b Business Innovations hires intellect individuals with rich knowledge and those who value excellence. Driven, smart, clever, energetic are only few words that explain our people; but in reality words cannot do justice to their qualities. Not only are our people continually working to provide services that are par to none, but they aspire on building enhanced relationships with all our clients. Our unique working philosophy brings the best out of our people that in return defines who we are. Problem solving, creative and out-of-the-box thinking are the cornerstones of our people’s quality whereas they also possess intellectual curiosity and passion to shape the world of business in a better way. </p>
		<hr>
		<a  data-magellan-destination="our-clients" name="our-clients"></a>
		<h4>Our Clients</h4>
		<p>At Clock b Business innovations we provide our services to variety of industries. We not only deliver our services with honesty and integrity, we look forward to foster a healthy, perpetual and first-rate relationship with our clients. From big scale enterprises to start-ups, our client base is much diversified and we are always looking to add more admirable clients to our client list. </p>
		<a  data-magellan-destination="know-the-team" name="know-the-team"></a>
		<hr>
		<h4>Know the Team</h4>

		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3"> 
			<li class="th-no-hover photo">
				
					<%= image_tag "http://res.cloudinary.com/hn61epjje/image/upload/v1457019672/Dilli_Raj_Joshi_2_xun7to.jpg", class: 'lazyload' %>
				
				<p class="caption">Dilli Raj Joshi<br/>Director</p>
			</li>
		
		
			<% @know_the_team.each do |ktt| %>
			<li class="th-no-hover photo">
				<% if ktt.photo.blank? %>
				<%= image_tag "500.png", class: 'lazyload' %>
				<% else %>
				
				<%= image_tag ktt.photo_url(:thumb), class: 'lazyload' %>
				
				<% end %>
				<p class="caption"><%= ktt.inputs['name'] %><br /><%= ktt.inputs['job_title'] %></p>
			</li>
			<% end %>
		</ul>

		<hr>
		<a  data-magellan-destination="who-we-are-for" name="who-we-are-for"></a>
		<h4>Who we are for?</h4>
		<p>Clock b Business Innovation is for anyone working for a better tomorrow and trying to achieve enduring results. From start-ups to big scale enterprises, we serve assorted groups of clients who tirelessly work hard, to furnish them with directions to realize their ultimate goals. </p>
		<hr>
		<a  data-magellan-destination="request-for-meeting" name="request-for-meeting"></a>
		<h4>Request for Meeting</h4>
		<div id="request-for-x">
			<a href="<%= new_request_path %>?_x=meeting&amp;_y=clockb" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button">Request for meeting</a>
		</div>
		<div id="myModal-content" class="reveal-modal small" data-reveal></div>
		<div class="panel radius"><p>*Note: Clock up for our service. Notify us about your services needs by clicking the request for meeting button.</p></div>
		<hr>
		<a  data-magellan-destination="our-perspective" name="our-perspective"></a>
		<h4>Our Perspective</h4>
		<div class="panel"><blockquote class="text-justify" style="color:#666 !important;">Clock b is committed to empower businesses through our pragmatic and focused services to quickly deliver the clients’ needs.  We identify the exceptional talents in the markets and join forces with them to bring you the best and focused solutions. Our diversified networking of professionals from different backgrounds and disciples is what makes our service such craftily well-built.<cite>Dilli Raj Joshi, Director</cite></blockquote></div>
		<hr>
		<a  data-magellan-destination="experts-perspective" name="experts-perspective"></a>
		<div class="hide">
		<h4>Experts' Perspective</h4>
		<p>{{Text}}</p>
		<hr>
		</div>
		<a  data-magellan-destination="clients-perspective" name="clients-perspective"></a>
		<h4>Clients' Perspective</h4>
		<div class="panel"><blockquote class="text-justify" style="color:#666 !important;">I found it helpful. It was more like getting a business partner. As Nepal’s business industry is bit different from other countries so, the insightful information from professionals was extremely useful. Started as professional business consulting, and then developed special and personal relationship which remains warm and positive.<cite>Alexander Yoon, Programme Manager, Social Enterprise Activation Center</cite></blockquote></div>
		<hr />
		<%= render partial: 'layouts/side_footer' %>
	</div>


</div>
