<%= content_for :page_title, 'Dashboard' %>
<div class="row" style="margin-top:50px;">
<div class=" large-12 columns">
<div class="panel">
<h4>Thank you for your interest.</h4>
<p>We are currently tailoring our site to meet your requirements.</p>
<p>Meanwhile, we will notify you about our events.</p>
<p>You can visit our Social Media pages for staying connected with us:<br>
<a href="https://www.facebook.com/clockb.bi">Facebook</a><br>
<a href="https://www.linkedin.com/company/clock-b-business-innovations">Linkedin</a><br>
<a href="https://www.twitter.com/clockb_bi">Twitter</a></p>
</div>
</div>
</div>



<div class="contain-to-grid hide" style="background-color:#008CBA;color:white;padding:20px;">
	<div class="row">
		<div class="large-12 columns">
			<table width="50%">
				<thead>
					<tr>
						<th colspan="2"><h5>Client Information</h5></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="subheader">Name</th>
						<td><%= @user.inputs['name'] %></td>
					</tr>
					<% if @user.company? %>
					<tr>
						<th class="subheader">Person In Charge</th>
						<td><%= @user.inputs['person_in_charge'] %></td>
					</tr>
					<% end %>
					<tr>
						<th class="subheader">Occupation/Business</th>
						<td><%= @user.inputs['profile'] %></td>
					</tr>
					<tr>
						<th class="subheader">Plan</th>
						<td><%= @user.networker? ? @user.inputs['package_selected'].try(:humanize) : @user.inputs['plan'].try(:humanize) %></td>
					</tr>
					<tr>
						<th class="subheader">Contact</th>
						<td><%= @user.inputs['contact'] %></td>
					</tr>
					<tr>
						<th class="subheader">Email</th>
						<td><%= @user.email %></td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>
<div class="contain-to-grid hide" style="background-color:#e3e3e3;padding:20px;">
<div class="row">
		<div class="large-6 columns">
			<ul class="example-orbit" data-orbit data-options="pause_on_hover:false;timer_speed: 3000;">
				<% if @adverts.empty? %>
				<li>
					<%= image_tag "500x300.png", class: 'lazyload' %>
					<div class="orbit-caption">
						Premium User advert
					</div>
				</li>
				<% else %>
				<% @adverts.each do |advert| %>
				<li>
					<%= image_tag advert.image_url(:dashboard), class: 'lazyload' %>
					<% if !advert.content.empty? %>
					<div class="orbit-caption">
						<%= advert.content %>
					</div>
					<% end %>
				</li>
				<% end %>
				<% end %>
			</ul>
		</div>
		<!-- Networking Profiles -->
		<div id="myModal-content" class="reveal-modal small" data-reveal></div>
		<div id="myModal-networking" class="reveal-modal small" data-reveal></div>
		<div class="large-6 columns">
			<table width="100%">
				<thead>
					<tr>
						<th colspan="2"><h5>Networking Profiles</h5></th>
					</tr>
				</thead>
				<tbody>
					<% @profiles.each do |k, v| %>
					<% k != "" ? k = k : k = "Uncategorized" %>
					<tr>
						<td>
							<a href="#" data-reveal-id="myModal-networking" data-reveal-ajax="<%=  profiles_path(k: k) %>" class="" data-type="JSON">
								<%= k %>
							</a>
						</td>
						<td>(<%= v.size %>)</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<hr />
	<div class="row">
		<div class="large-4 columns" >
			<div class="row">
				<div class="large-12 medium-6 columns">
					<h5>Events Gallery</h5>
					<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 clearing-thumbs" data-clearing>
						<% if @gallery.empty? %>
						<li>
							<a><%= image_tag "190.png", class: 'th-no-hover lazyload' %></a>
						</li>
						<% else %>
						<% @gallery.each do |g| %>
						<li>
							<a href="<%= g.attachment %>"><%= image_tag g.attachment_url(:thumb), class: 'th-no-hover lazyload' %></a>
						</li>
						<% end %>
						<% end %>
					</ul><hr />
				</div>
				<div class="large-12 medium-6 columns">
					<h5>Upcoming events</h5>
					<%= render 'layouts/upcoming_events' %>
					<hr />
				</div>
				<div class="columns">
				<!-- Advert -->
					<div id="myModal-advert" class="reveal-modal small" data-reveal></div>
					<div id="request-for-x" class="clearfix panel">
						<a href="#" data-reveal-id="myModal-advert" data-reveal-ajax="<%= new_user_advert_path(@user) %>" class="button success expand" data-type="JSON">Post an advert</a>
					</div>
				<!-- Business Requirement -->
					<div id="myModal-business-requirement" class="reveal-modal small" data-reveal></div>
					<div id="request-for-x" class="clearfix panel">
						<a href="#" data-reveal-id="myModal-business-requirement" data-reveal-ajax="<%= new_user_business_requirement_path(@user) %>" class="button success expand" data-type="JSON">Post your business requirement</a>
					</div>
				</div>
			</div>
		</div>
		<div class="large-4 columns">
			<div id="myModal-offer" class="reveal-modal small" data-reveal>
				<%= render partial: 'shared/upgrade_to_premium',
locals: {_x: 'premium', _y: 'service_offered', _z: current_user.id} %>
			</div>
			<h5>Business Requirements</h5>
			<%= render partial: 'shared/business_requirements', locals: {business_requirement: @business_requirement} %>	
		</div>
		<div class="large-4 columns">
			<% if @user.client? && @user.premium? %>
			<h5>Blog</h5>
				<% if @blogs.any? %>
				<div class="clearfix">
					<ul class="no-bullet">
						<% @blogs.each do |blog| %>
							<li class="panel">
								<%= image_tag blog.image_url(:thumb), class: 'th-no-hover', style: 'margin-right:10px;' %>
								<%= link_to blog.meta['title'], resourcexes_path << '#' << blog.meta['title'].parameterize %>
							</li>
						<% end %>
					</ul>
				</div>
				<% end %>
			<% else %>
			<h5>Networking Benefits with Clock b</h5>
			<div class="panel">
				<ul class="no-bullet change-color">
					<li>Promote yourself or your business</li>
					<li>Make highly influential connection</li>
					<li>Explore the secreted opportunities</li>
					<li>Share and upgrade your knowledge</li>
					<li>Generate referrals</li>
					<li>Make friends for the future</li>
					<li>Generate more business by raising your profile</li>
					<li>Get the help of technology </li>
				</ul>
			</div>
			<% end %>
		</div>
	</div>
	<hr />
	<div class="large-6 columns">
		<% if @user.client? %>
		<h5>Program schedules</h5>
		<% unless @user.program_schedules.empty? %>
		<ul class="no-bullet change-color">
			<% @user.program_schedules.each do |sch| %>
				
			
			<li><%= sch.content %></li>

		<% end %>
		</ul>
		<% end %>
		<% end -%>
		<% if @user.alumni? %>
		<h5>Recommended Services</h5>
		<% unless @user.services_catereds.empty? %>
		<ul class="no-bullet change-color">
			<% @user.services_catereds.each do |rec| %>

			<li><%= rec.content %></li>
		
		<% end -%>
		</ul>
		<% end -%>
		<% end -%>
	</div>
	<div class="large-6 columns">
		<% if @user.client? || @user.alumni? %>
		<h5>Feedbacks</h5>
		<%= form_for [@user, FeedbackFromUser.new], remote: true, method: :post do |f| %>
		<%= f.text_area :feedback, rows: 6, required: true %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.submit "Submit", class: 'button info tiny right'%>
		<% end %>
		<div class="preloader hide"><p class="label radius secondary"><i class="fi-minus-circle">&nbsp;</i>Working</p></div>
		<div class="errors hide"><p class="label radius secondary" style="color:red;"><i class="fi-x">&nbsp;</i>Error</p></div>
		<div class="success hide"><p class="label radius secondary" style="color:green;"><i class="fi-check">&nbsp;</i>Success</p></div>
		<% end %>
	</div>
</div>
</div>