<%= content_for :page_title, 'Dashboard' %>
<div class="row">
<div class="columns">
<p>&nbsp;</p>
		<h5 style="text-decoration: underline;">Employee Information</h5>
 		<ul class="no-bullet">
			<li>Name: <%= @user.inputs['name'] %></li>
			<li>Job Title: <%= @user.inputs['job_title'] %></li>
		</ul>
</div><hr />
</div>

<div class="row">
<div class="large-6 columns">
<h5>Job Description</h5>
<p><%= @user.inputs['job_description'] %></p>
</div>
<div class="large-6 columns">
<h5>Job Specification</h5>
<p><%= @user.inputs['job_description'] %></p>
</div><hr />
</div>

<div class="row">
<div class="large-6 columns">
<h5>Tasks &amp; Schedules</h5>
<% if @user.tasks.any? %>
<ul>
	<% @user.tasks.each do |task| %>
		<li><%= task.content %></li>
	<% end %>
</ul>
<% end %>
</div>
<div class="large-6 columns">
	<% if @documents.any? %>
	<% @documents.each do |doc| %>
	<div class="row">
	<div class="large-8 medium-8 columns">
		<h5><%= doc.name.titleize %></h5>
	</div>
	<div class="large-4 medium-4 columns">
		<%= link_to "Download",doc.attachment.url, class: "button small tiny secondary" %>
	</div>
	</div>
<hr />
	<% end -%>
	<% end -%>
</div>
</div>
