<%= content_for :page_title, 'Events' %>
<div class="row">
	<div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
	<!-- Menu -->
	<div data-magellan-expedition="fixed" class="custom-magellan" data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
		<ul class="side-nav custom-side-nav">
			<li class="heading">events</li>
	    	<li data-magellan-arrival="reasons-to-attend"><a href="#reasons-to-attend">Reasons to attend</a></li>

	    	<li data-magellan-arrival="upcoming-events"><a href="#upcoming-events">Upcoming Events</a></li>
	    	<li data-magellan-arrival="contact-us"><a href="#contact-us">Contact Us</a></li>
	  	</ul>
	</div>
	
	</div>
	<!-- Content -->
	<div class="large-9 medium-9 columns bg-right" data-equalizer-watch>
		 <!-- Flash messages -->
    <div id="messages" class="clearfix">
      <%= render 'layouts/messages' %>
    </div>
				
		<!-- Slider -->
		<div class="clearfix">
			<ul class="example-orbit" data-orbit data-turbolinks="false" data-options="pause_on_hover:false;timer_speed: 3000">
				<% if @slider.empty? %>
			  	<li><%= image_tag "event4.jpg", class: 'lazyload' %></li>
				<% else %>
				<% @slider.each do |e| %>
			  <li>
				<%= image_tag e.image_url, class: 'lazyload' %>
			    <% if e.caption? %>
			    <div class="orbit-caption">
			      <%= e.caption %>
			    </div>
			    <% end %>
			  </li>
			  <% end %>
			  <% end %>
			</ul>
		</div>
					 
		<hr>
		
		<a data-magellan-destination="reasons-to-attend" name="reasons-to-attend"></a>
		<h4>Reasons to attend</h4>
		<p>In one word, Clock b Business Innovations defines its networking event as a “Platform”. Our business networking is:</p>
		<div class="panel"><ul class="no-bullet change-color">
					<li>Platform for building professional connection</li>
					<li>Platform for providing mentoring</li>
					<li>Platform to clarify questions you might have</li>
					<li>Platform for promotion of interesting concepts, business, products, services and even yourselves</li>
					<li>Platform for speed networking</li>
					<li>Platform to meet your networking needs</li>
					<li>Platform where you could make yourselves heard</li>
		</ul></div>
<p>The platform we are trying to set for you and your business gives marvelous reasons to attend our events. Our events are for you and about you, so help us make you known.</p>
<h5>Monday Coffee Queries</h5>
<p>Start your week with some priceless advice. Start-ups, or for anyone who aspires to be an entrepreneur, our Monday morning coffee sessions are free advisory sessions to assess and fine-tune your ideas. If you have queries regarding your business or your ideas, simply pop in to our sessions to have it answered.</p>
		<hr />
		<div class="row">
			<div class="large-7 columns" style="border-right:1px solid #008CBA;">
			<a  data-magellan-destination="upcoming-events" name="upcoming-events"></a>
			<% unless @v_main.empty? %>
				<% @v_main.each do |v_main| %>
				<!-- Main Event -->
				<h4><%= v_main.form_params['name'] %></h4>
				<div class="clearfix">
					<% @v_main_sliders = MainEventSlider.where(:event_id => v_main.id) %>
					<% if !@v_main_sliders.empty? %>
					<ul class="example-orbit" data-orbit>
						<% @v_main_sliders.each do |main_slider| %>

					  <li>
					    <%= image_tag main_slider.image_url(:slider) %>
					    <% if !main_slider.caption.blank? %>
					    <div class="orbit-caption">
					      Caption One.
					    </div>
					    <% end %>
					  </li>
						<% end %>
					</ul>
					<% end %>

				</div>
		<br />
		<h5>Event Insights</h5>
		<p><%= v_main.form_params['description'] %></p>
		<ul class="no-bullet">
			<li><strong>Start Date:</strong> <%= v_main.start_date? ? v_main.start_date.strftime('%A, %B %e, %Y') : '-' %></li>
			<li><strong>Time:</strong> <%= v_main.form_params['start_time'] %></li>
			<li><strong>Venue:</strong> <%= v_main.form_params['venue'] %></li>
			<li><strong>No. of Participants:</strong> <%= v_main.attendees_limit %></li>
		</ul>
		<% 
			@v_main_price_and_mileages = MainEventPriceAndMileage.where(:event_id => v_main.id)
			unless @v_main_price_and_mileages.empty?
		%>
				<table width="100%">
					<thead>
						<tr>
							<th width="25%">Attendee Category</td>
							<th width="25%">Price - What do you pay?</td>
							<th width="50%">Mileage - What do you get?</td>
						</tr>
					</thead>
					<tbody>
		<%
				@v_main_price_and_mileages.each do |price_and_mileage|
		%>
						<tr>
							<td width= "25%"><%= price_and_mileage.attendee_category %></td>
							<td width="25%"><%= price_and_mileage.price %></td>
							<td width="50%">
								<ul class="no-bullet change-color">
								<li>
								<%= price_and_mileage.mileage.split("\n").join("</li><li>").html_safe %>
								</li>
								</ul>
							</td>
						</tr>
		<%
				end
		%>
						</tbody>
					</table>
		<%
			end
		%>
		<div id="_request_for_event_id_<%= v_main.id %>">
						<%= render partial: "shared/register_for_event", locals: {_y: 'main', _z: v_main.id} %>
				</div>
		<hr />
		<% end %>
		<% end %>
			<% unless @v_weekly.empty? %>
			<% @v_weekly.each_with_index do |v_weekly, index| %>
		<!-- Weekly Event -->
		<h4><%= v_weekly.form_params['name'] %></h4>
		<div class="clearfix">
			<% if !v_weekly.attachment.blank? %>
				<%= image_tag v_weekly.attachment_url(:featured), class: 'th-no-hover lazyload' %>
		<% end %>
		</div>
		<br />
		<h5>Event Insights</h5>
		<p><%= v_weekly.form_params['description'] %></p>
				<ul class="no-bullet">
			<li><strong>Start Date:</strong> <%= v_weekly.start_date? ? v_weekly.start_date.strftime('%A, %B %e, %Y') : '-' %></li>
			<li><strong>Time:</strong> <%= v_weekly.form_params['start_time'] %></li>
			<li><strong>Venue:</strong> <%= v_weekly.form_params['venue'] %></li>
			<li><strong>No. of Participants:</strong> <%= v_weekly.attendees_limit %></li>
		</ul>
		<div id="_request_for_event_id_<%= v_weekly.id %>">
		<%= render partial: "shared/register_for_event", locals: {_y: 'weekly', _z: v_weekly.id } %>
	</div>
		<%= "<hr />".html_safe unless index == @v_weekly.size - 1 %>
		<% end %>
		<% end %>
			</div>
			<div class="large-5 columns" >
				<div class="clearfix">
					<div id="events_calendar">
			  		<!-- Event Calendar -->
			  		<%= render partial: 'layouts/calendar' %>
				    </div>
				  		
				    <div id="upcoming-events" style="margin-top:30px;">
			  		<!-- Upcoming Events -->
			  		<h5>Upcoming Events</h5>
			  		<%= render partial: 'layouts/upcoming_events' %>
				  	</div>
				  	<div class="clearfix"></div>
				  	<hr>
				    <div id="browse-all-events" style="margin-bottom:10px;">
					 <%= link_to "Browse our events", events_browse_path, class: 'button expand info' %>
				   </div>
				</div>
				<div class="clearfix">
				<h5>Events Gallery</h5>
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 clearing-thumbs" data-clearing> 
			<% if @gallery.empty? %>
				<li>
				<a><%= image_tag "190.png", class: 'th-no-hover lazyload' %></a>
			</li>
				<% else %>
				<% @i = 0 %>
			<% @gallery.each do |g| %>
			
			<li>
				<a href="<%= g.attachment %>"><%= image_tag g.attachment_url(:thumb), class: 'th-no-hover lazyload ' %></a> <!-- #<< 'hide' if @i > 1 -->
			</li>
			<% @i = @i + 1 %>
			<% end %>
			<% end %>
		</ul>
		
				</div>
			</div>
		</div>
		<hr />
		<a  data-magellan-destination="contact-us" name="contact-us"></a>
		<%= render partial: 'layouts/side_footer' %>
	</div>
</div>