<!-- Sub menu -->
<div class="row">
	<div class="large-12 columns">
    <!-- Logo -->
    <div class="clearfix"><%= image_tag "clockb-logo.jpg", class: 'lazyload' %></div>
	<div data-magellan-expedition="fixed">
		<dl class="sub-nav right">
	    	<dd data-magellan-arrival="networking"><a href="#networking">NETWORKING</a></dd>
	    	<dd data-magellan-arrival="services"><a href="#services">SERVICES</a></dd>
        <dd data-magellan-arrival="clockb"><a href="#clockb">CLOCK b</a></dd>
	  	</dl>
	</div>
	</div>
</div>
<br />
<!-- Slider -->

<div class="row">
	<ul class="example-orbit" data-orbit>
    <% if @sliders.any? %>
		<% @sliders.each do |slider| %>
	  <li> <!-- A92B48/fff -->
	  	<%= image_tag slider.slide, class: "lazyload" %>
	    <!-- <img src="1000x500.png" alt="slide 1" class="lazyload"/> -->
	    <% if !slider.caption.empty? %>
	    <div class="orbit-caption">
	      <%= slider.caption %>
	    </div>
	    <% end %>
	  </li>
	  <% end %>
    <% else %>
    <li><%= image_tag 'default-slider.png', class: "lazyload" %>
      <div class="orbit-caption">Slider caption goes here(Optional)</div>
    </li>
    <% end %>
	</ul>
</div>
<div class="contain-to-grid" style="background-color:#e3e3e3;padding-top:40px;">
<!-- data-magellan for Networking -->
<a data-magellan-destination="networking" name="networking"></a>
<div class="row">
  <div class="medium-6 large-4 columns">
    <div id="events_calendar">
      <!-- Event Calendar -->
      <%= render partial: 'layouts/calendar' %>
    </div>
      <hr />
    <div id="upcoming-events">
      <!-- Upcoming Events -->
      <h4>Upcoming Events</h4>
      <%= render partial: 'layouts/upcoming_events' %>
    </div>
    <div id="browse-all-events">
   <!-- <%= link_to "Browse all Events", events_path, class: 'button expand' %> -->
   </div>
  </div>
  
  <!-- Networking -->
  <div class="medium-6 large-4 columns">
    <h3>Networking</h3>
    <p>Whether you are searching for a vendor, professionals of different fields, businesses, agents, experts, advisors, entrepreneurs or any connections to boom your business, we at Clock b would map you with the invaluable ones.</p>
        <h3>Packages</h3>
    <p>Level-up your ways of networking. Acquire your invaluable connections out of Clock b networking packages.</p>
    <button class="button small right ">Learn more</button>
  </div>
  <div class="medium-6 large-4 columns">
    <h3>Packages</h3>
    <p>Level-up your ways of networking. Acquire your invaluable connections out of Clock b networking packages.</p>
    <p>Our networking packages:</p>
    <h4>Regular</h4>
    <ul>
      <li>Profile access of companies and professionals (Basic)</li>
      <li>First hand info of our upcoming events</li>
      <li>See offer of our premium plan users</li>
    </ul>
    <h4>Premium</h4>
    <ul>
      <li>Profile access of companies and professionals(full)</li>
<li>First hand info of our upcoming events</li>
<li>See offer of our premium plan users</li>
<li>Access to blogs/archives</li>
<li>Access to our webinar platform</li>
<li>Post an advertisement or offer </li>
<li>Add social media links</li>
<li>Request for meet ups with professionals</li>
<li>Schedule online meetings</li>
<li>Attend events online</li>
    </ul> 
  </div>
  <hr />
</div>
<!-- Services -->

<div class="row">
  <div class="medium-6 large-6 columns">
    <a data-magellan-destination="services" name="services"></a>
    <div class="clearfix">
      <%= image_tag 'default-services.png', class: "th-no-hover lazyload" %>
    </div><p></p>
    <p><strong>Consulting:</strong> “With great help and advice, the road to success can be a lot easier.”&nbsp;<a href="#">Read more</a></p>
  </div>

  <div class="medium-6 large-6 columns">
    <div>
      <%= image_tag 'default-services.png', class: "th-no-hover lazyload" %>
    </div><p></p>
    <p><strong>Outsourcing:</strong> ”If you keep doing what you’ve always done, you will never be more than what you already are.”&nbsp;<a href="#">Read more</a></p>
  </div>
  <div class="medium-6 large-6 columns">
    <div>
      <%= image_tag 'default-services.png', class: "th-no-hover lazyload" %>
    </div><p></p>
    <p><strong>Networking:</strong> “Invaluable connection isn’t impossible, it’s just that easy get lost in the city of millions.”&nbsp;<a href="#">Read more</a></p>
  </div>
  <div class="medium-6 large-6 columns">
    <div class="clearfix">
      <%= image_tag 'default-services.png', class: "th-no-hover lazyload" %>
    </div><p></p>
    <p><strong>Innovation:</strong> “Enter the searching mode and never exit; because if you keep searching, you will always discover something new and startling.”&nbsp;<a href="#">Read more</a></p>
    <br />
  </div><hr/>
</div>
<!-- Why Clock b? -->
<div class="row">
  <div class="large-6 columns">
    <a data-magellan-destination="clockb" name="clockb"></a>
<h3>Why Clock b?</h3>
<p>Clock b Business Innovations is best known for providing pragmatic, focused and tailored innovation, outsourcing, networking, consulting and other essential business services to all of our clients. We uniquely place every client, blend our expertise with theirs and provide personalized service such that it matches the values of our clients plus help them; realise risks associated with results, calculate the risks and innovate ideas and strategies to overcome it. We provide our services to broad range of organisations; from start-ups to existing big players of the market or even to the non-profit organisations.</p>
<button class="button">Learn More</button>

  </div>
  <div class="large-6 columns">
    <div class="row">
      <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.<cite>John Doe, CEO</cite></blockquote>
  <blockquote>Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat.<cite>Mary Rose, CTO</cite></blockquote>
    </div>
<!--     <div class="row">
      <div class="left">
      
      <h5>Social media links. Opens in new/same window.</h5>
      <%= image_tag 'linkedin.png', class: 'lazyload'%>
      <%= image_tag 'facebook.png', class: 'lazyload'%>
      <%= image_tag 'twitter.png', class: 'lazyload'%>
      <%= image_tag 'youtube.png', class: 'lazyload'%>
      </div>
    </div> -->

    
  </div><hr />
</div>
<%= render 'layouts/home_footer' %>
    <div id="footer">
      <!-- Footer -->
      <%= render 'layouts/footer' %>
    </div>
</div>
