<!-- Sub menu -->
<div class="row">
	<div class="large-12 columns">
	<div data-magellan-expedition="fixed">
		<dl class="sub-nav right">
	    	<dd data-magellan-arrival="networking"><a href="#networking">NETWORKING</a></dd>
	    	<dd data-magellan-arrival="services"><a href="#services">SERVICES</a></dd>
        <dd data-magellan-arrival="whyclockb"><a href="#whyclockb">WHY CLOCK B?</a></dd>
	  	</dl>
	</div>
	</div>
</div>
<br />
<!-- Slider -->

<div class="row">
	<ul class="example-orbit" data-orbit>
    <% if @sliders.any? %>
		<% @sliders.each do |slider| %>
	  <li> <!-- A92B48/fff -->
	  	<%= image_tag slider.slide, class: "lazyload" %>
	    <!-- <img src="1000x500.png" alt="slide 1" class="lazyload"/> -->
	    <% if !slider.caption.empty? %>
	    <div class="orbit-caption">
	      <%= slider.caption %>
	    </div>
	    <% end %>
	  </li>
	  <% end %>
    <% else %>
    <li><%= image_tag 'default-slider.png', class: "lazyload" %>
      <div class="orbit-caption">Slider caption goes here(Optional)</div>
    </li>
    <% end %>
	</ul><hr />
</div>
<!-- data-magellan for Networking -->
<a data-magellan-destination="networking" name="networking"></a>
<div class="row">
  <div class="medium-6 large-4 columns">
  	<div id="events_calendar">
  		<!-- Event Calendar -->
  		<%= render partial: 'layouts/calendar' %>
    </div>
  		<hr />
    <div id="upcoming-events">
  		<!-- Upcoming Events -->
  		<h4>Upcoming Events</h4>
  		<%= render partial: 'layouts/upcoming_events' %>
	  </div>
    <div id="browse-all-events">
	 <!-- <%= link_to "Browse all Events", events_path, class: 'button expand' %> -->
   </div>
  </div>
  
  <!-- Networking -->
  <div class="medium-6 large-4 columns">
  	<h3>Networking</h3>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum, deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
  	<button class="button small right ">Learn more</button>
  </div>
  <div class="medium-6 large-4 columns">
  	<h4>Regular</h4>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h4>Premium</h4>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <hr />
</div>
<!-- Services -->

<div class="row">
  <div class="medium-6 large-6 columns">
    <a data-magellan-destination="services" name="services"></a>
    <div style="border:1px solid #eee;width:100%;height:150px;float:left;">
      <%= image_tag 'default-services.png', class: "lazyload" %>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<a href="#">Read more</a></p>
  </div>

  <div class="medium-6 large-6 columns">
    <div style="border:1px solid #eee;width:100%;height:150px;float:left;"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<a href="#">Read more</a></p>
  </div>
  <div class="medium-6 large-6 columns">
    <div style="border:1px solid #eee;width:100%;height:150px;float:left;"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<a href="#">Read more</a></p>
  </div>
  <div class="medium-6 large-6 columns">
  <div style="border:1px solid #eee;width:100%;height:150px;float:left;"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<a href="#">Read more</a></p>
    <br />
  </div><hr/>
</div>
<!-- Why Clock b? -->
<div class="row">
	<div class="large-6 columns">
    <a data-magellan-destination="whyclockb" name="whyclockb"></a>
<h3>Why Clock b?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.</p>
<button class="button">Learn More</button>

	</div>
	<div class="large-6 columns">
		<div class="row">
			<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.<cite>John Doe, CEO</cite></blockquote>
	<blockquote>Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat.<cite>Mary Rose, CTO</cite></blockquote>
		</div>
<!-- 		<div class="row">
			<div class="left">
			
			<h5>Social media links. Opens in new/same window.</h5>
			<%= image_tag 'linkedin.png', class: 'lazyload'%>
			<%= image_tag 'facebook.png', class: 'lazyload'%>
			<%= image_tag 'twitter.png', class: 'lazyload'%>
			<%= image_tag 'youtube.png', class: 'lazyload'%>
			</div>
		</div> -->

		
	</div>
</div>


