<%= content_for :page_title, 'Clock b' %>
<!-- Sub menu -->
<div class="row">
	<div class="large-12 columns">
    <!-- Logo -->
    <div class="clearfix"><%= image_tag "clockb-logo.jpg", class: 'lazyload' %></div>
	<div data-magellan-expedition="fixed">
		<dl class="sub-nav right">
	    	<dd data-magellan-arrival="networking"><a href="#networking">NETWORKING</a></dd>
	    	<dd data-magellan-arrival="services"><a href="#services">SERVICES</a></dd>
        <dd data-magellan-arrival="clockb"><a href="#clockb">CLOCK b</a></dd>
	  	</dl>
	</div>
	</div>
</div>
<br />
<!-- Slider -->

<div class="row">
       <!-- Flash messages -->
    <div id="messages" class="clearfix">
      <%= render 'layouts/messages' %>
    </div>
	<ul class="example-orbit" data-orbit>
    <% if @sliders.any? %>
		<% @sliders.each do |slider| %>
	  <li> <!-- A92B48/fff -->
	  	<%= image_tag slider.slide, class: "lazyload" %>
	    <!-- <img src="1000x500.png" alt="slide 1" class="lazyload"/> -->
	    <% if !slider.caption.empty? %>
	    <div class="orbit-caption">
	      <%= slider.caption %>
	    </div>
	    <% end %>
	  </li>
	  <% end %>
    <% else %>
    <li><%= image_tag '1000x500.png', class: "lazyload" %>
      <div class="orbit-caption">Slider caption (Optional)</div>
    </li>
    <% end %>
	</ul>
</div>
<div class="contain-to-grid" style="background-color:#e3e3e3;padding-top:40px;">

<div class="row">
  <div class="medium-6 large-4 columns">
    <!-- data-magellan for Networking -->
<a data-magellan-destination="networking" name="networking"></a>
    <div id="events_calendar">
      <!-- Event Calendar -->
      <%= render partial: 'layouts/calendar' %>
    </div>
      
    <div id="upcoming-events" style="margin-top:30px;">
      <!-- Upcoming Events -->
      <h4>Upcoming Events</h4>
      <%= render partial: 'layouts/upcoming_events' %>
    </div>
    <div class="clearfix"></div>
    <div id="browse-all-events">
   <!-- <%= link_to "Browse all Events", events_path, class: 'button expand' %> -->
   </div>
  </div>
  
  <!-- Networking -->
  <div class="medium-6 large-4 columns">
    <h3>Networking</h3>
    <p>Whether you are searching for a vendor, professionals of different fields, businesses, agents, experts, advisors, entrepreneurs or any connections to boom your business, we at Clock b would map you with the invaluable ones.</p> 
    <%= link_to "Learn more", services_path << '#networking', class: 'button' %>
  </div>
    <div class="medium-6 large-4 columns">
    <h3>{{Image}}</h3>
    
  </div>
  <div class="medium-6 large-8 columns">
    <div class="row large-collapse medium-collapse small-collapse" style="margin-left:0px;">
    <div class="large-6 columns">
    <ul class="pricing-table low-padding" style="border-right:none; padding:0.3rem;">
      <li class="bullet-item" style="text-align: center;"><h6>Regular</h6></li>
      <li class="bullet-item">Profile access of companies and professionals (Basic)</li>
      <li class="bullet-item">First hand info of our upcoming events</li>
      <li class="bullet-item">See offer of our premium plan users</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item show-for-large-up">-</li>
      <li class="bullet-item"><a href="<%= new_request_path %>?_x=meeting&amp;_y=regular-package" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Go Regular</a></li>
    </ul>
    </div>
    <div class="large-6 columns">

      <ul class="pricing-table low-padding" style="border-left:none;padding:0.3rem;">
        <li class="bullet-item" style="text-align: center;"><h6>Premium</h6></li>
        <li class="bullet-item">Profile access of companies and professionals (Full)&nbsp;&nbsp;</li>
        <li class="bullet-item">First hand info of our upcoming events</li>
        <li class="bullet-item">See offer of our premium plan users</li>
        <li class="bullet-item">Access to blogs/archives</li>
        <li class="bullet-item">Access to our webinar platform</li>
        <li class="bullet-item">Post an advertisement or offer</li>
        <li class="bullet-item">Add social media links</li>
        <li class="bullet-item">Request for meet ups with professionals</li>
        <li class="bullet-item">Schedule online meetings</li>
        <li class="bullet-item">Attend events online</li>
        <li class="bullet-item"><a href="<%= new_request_path %>?_x=meeting&amp;_y=premium-package" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Go Premium</a></li>
      </ul>
    </div>
    </div>
    
  </div>
  <hr />
</div>
<!-- Services -->

<div class="row" class="clearfix" style="text-align:center;">
  <div class="medium-6 large-6 columns">
    <a data-magellan-destination="services" name="services"></a>
    <div class="clearfix">
      <%= image_tag '1000x500.png', class: "th-no-hover lazyload" %>
    </div><br>
   <div class="clearfix">
    <h4>Consulting</h4>
   <p class="text-center">“With great help and advice, the road to success can be a lot easier.”&nbsp;<a href="<%= services_path << '#consulting' %>">Read more</a></p><br></div>
  </div>
  <div class="medium-6 large-6 columns">
    <div>
      <%= image_tag '1000x500.png', class: "th-no-hover lazyload" %>
    </div><br>
    <h4>Outsourcing</h4>
    <div class="clearfix"><p class="text-center">”If you keep doing what you’ve always done, you will never be more than what you already are.”&nbsp;<a href="<%= services_path << '#outsourcing' %>">Read more</a></p><br></div>
  </div>
  <div class="medium-6 large-6 columns">
    <div>
      <%= image_tag '1000x500.png', class: "th-no-hover lazyload" %>
    </div><br>
    <h4>Networking</h4>
    <div><p class="text-center">“Invaluable connection isn’t impossible, it’s just that easy get lost in the city of millions.”&nbsp;<a href="<%= services_path << '#networking' %>">Read more</a></p><br></div>
  </div>
  <div class="medium-6 large-6 columns">
    <div class="clearfix">
      <%= image_tag '1000x500.png', class: "th-no-hover lazyload" %>
    </div><br>
    <h4>Innovation</h4>
    <p class="text-center">“Enter the searching mode and never exit; because if you keep searching, you will always discover something new and startling.”&nbsp;<a href="<%= services_path << '#innovation' %>">Read more</a></p>
    <br />
  </div><hr/>
</div>
<!-- Why Clock b? -->
<div class="row">
  <div class="large-6 columns">
    <a data-magellan-destination="clockb" name="clockb"></a>
<h3>Why Clock b?</h3>
<p>Clock b Business Innovations is best known for providing pragmatic, focused and tailored innovation, outsourcing, networking, consulting and other essential business services to all of our clients. We uniquely place every client, blend our expertise with theirs and provide personalized service such that it matches the values of our clients plus help them; realise risks associated with results, calculate the risks and innovate ideas and strategies to overcome it. We provide our services to broad range of organisations; from start-ups to existing big players of the market or even to the non-profit organisations.</p>

<%= link_to "Learn more", clockb_path, class: 'button' %>

  </div>
  <div class="large-6 columns">
    <div class="row">
      <div class="columns">
      <h4>Who we are For</h4>
    <p>Clock b Business Innovation is for anyone working for a better tomorrow and trying to achieve enduring results. From start-ups to big scale enterprises, we serve assorted groups of clients who tirelessly work hard, to furnish them with directions to realize their ultimate goals. </p>
      <blockquote class="panel text-justify">Clock b is committed to empower businesses through our pragmatic and focused services to quickly deliver the clients’ needs.  We identify the exceptional talents in the markets and join forces with them to bring you the best and focused solutions. Our diversified networking of professionals from different backgrounds and disciples is what makes our service such craftily well-built.<cite>Dilli Raj Joshi, Director</cite></blockquote>
    </div>
   </div>
  </div><hr />
</div>
<%= render 'layouts/home_footer' %>
    <div id="footer">
      <!-- Footer -->
      <%= render 'layouts/footer' %>
    </div>
</div>
