<%= content_for :page_title, 'Services' %>
<div class="row">
	<div class="large-3 medium-3 columns width-finder bg-left hide-for-small-only" data-equalizer-watch>
		
		<div id="myModal-content" class="reveal-modal small" data-reveal></div>
<!-- Magellan Menu -->
	<div data-magellan-expedition="fixed" class="custom-magellan" data-options="destination_threshold:50;offset_by_height: false;threshold:0;fixed_top:0;throttle_delay:30;active_class:custom-active">
		<!-- <div class="fixed large-4 columns"> -->
		<ul class="side-nav custom-side-nav">
			<li class="heading">services</li>
	    	<li data-magellan-arrival="consulting"><a href="#consulting">Consulting</a></li>
	    	<li class="divider" style="margin:10px 0px;"></li>

	    	<li data-magellan-arrival="outsourcing"><a href="#outsourcing">Outsourcing</a></li>
	    		<div style="margin-left:15px;">
	    	<li data-magellan-arrival="marketing"><a href="#marketing">Marketing</a></li>
	    	<li data-magellan-arrival="social-media-management"><a href="#social-media-management">Social Media Management</a></li>
	    	<li data-magellan-arrival="relationship-management"><a href="#relationship-management">Relationship Management</a></li>
	    	<li data-magellan-arrival="r-and-d-of-strategies"><a href="#r-and-d-of-strategies">R &amp; D of Strategies</a></li>
	    	</div>
	    	<li class="divider" style="margin:10px 0px;"></li>

	    	<li data-magellan-arrival="networking"><a href="#networking">Networking</a></li>
	    	<div style="margin-left:15px;">
	    	<li data-magellan-arrival="packages"><a href="#packages">Packages</a></li>
<div style="margin-left:15px;">
	    	<li data-magellan-arrival="regular-package"><a href="#regular-package">Regular</a></li>
	    	<!-- <li class="divider" style="margin:20px 0px;"></li> -->
	    	<!-- <li class="heading">Why Clock b</li> -->
	    	<li data-magellan-arrival="premium"><a href="#premium-package">Premium</a></li>
	    	</div>
	    	<li data-magellan-arrival="events"><a href="#events">Events</a></li>
	    	</div>
	    	<li class="divider" style="margin:10px 0px;"></li>

	    	<li data-magellan-arrival="innovation"><a href="#innovation">Innovation</a></li>
	  	</ul>
	  <!-- </div> -->
	</div>
	
	</div>
	<div class="large-9 medium-9 columns bg-right" data-equalizer-watch>
	<br/>
		<%= image_tag "services_page.jpg", class: 'th-no-hover lazyload', style: 'width: 100%;' %>
		<br />
		
		<hr>
		<a data-magellan-destination="consulting" name="consulting"></a>
		<h4>Consulting</h4>
<div class="readmore" id="consulting">		<p>With great help and advice, the road to success can be a lot easier. Clock b Business Innovations’ gives you ideas to evolve, help determine your business model, restructure your business, help and monitor for your growth, provide professional solutions, build a networking for future, aid in introducing new concepts, products or services and other diverse range of business consulting services for your business to keep thriving and growing. Furthermore, our wider perspective and objective advice helps you explore the hidden opportunities and open the doors for it. Our diverse consulting offerings help you deliver enduring results. Moreover, our advices are aimed at providing seed for your business to evolve. We look forward to blend our expertise with yours so that we could evolve together and learn for the better tomorrow.</p>
		<p>Our consulting offerings include but are not limited to:</p>

		<ul class="hide">
			<li>Management Consulting</li>
			<li>Marketing</li>
			<li>Business Growth Strategies</li>
			<li>Growth Management</li>
			<li>Trend analysis and future market prediction</li>
			<li>Invigilation and monitoring</li>
			<li>Business Feasibility analysis</li>
			<li>Risk research and controlling</li>
			<li>Business Strategy</li>
			<li>Business Planning</li>
			<li>New Business Development</li>
			<li>Business Networking</li>
			<li>Start-up Consulting</li>
			<li>Business Decision Making</li>
			<li>Industrial Research</li>
			<li>Market Research</li>
			<li>Management Development</li>
			<li>Hedging</li>
			<li>Surveys</li>
			<li>Mentoring</li>
		</ul>
		<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4"> 
			<% (1..12).each do |i| %>
			<li>
				<%= image_tag "slide"+i.to_s+".jpg", class: 'th-no-hover lazyload', alt: "Management Consulting" %>
			</li>
			<% end %>
		</ul>
		</div>

		<div id="request-for-x " class="request-button left">
					<a href="<%= new_request_path %>?_x=meeting&amp;_y=consulting" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Request for meeting</a>
		</div>

		<hr />
		<a  data-magellan-destination="outsourcing" name="outsourcing"></a>
		<h4>Outsourcing</h4>
<div class="readmore">		<p>Business is simply not a word; it’s a world in itself. Marketing, relationship management, networking, social media management, research and strategy development are only some of the major departments which are needed to be wisely strategized and executed. With the era of global competitiveness, perfecting these sections is what any businesses should work towards. Another truth which we simply cannot overwrite is we all have our constraints, every businesses has its limits. Clock b Business Innovations offers outsourcing solutions of these departments to businesses which don’t have one built within and for the ones who do, as we instill creativity, innovativeness, strategic strength and results.</p>
		<p>Clock b outsourcing benefits:</p>
		<div class="panel">
			<div class="row">
					<div class="columns large-6 medium-6">
						<ul class="no-bullet change-color">
							<li>Tailored plan and strategies</li>
							<li>Get access to skilled expertise</li>
							<li>Access to technology and software</li>
							<li>Focus on insights and core areas</li>
							<li>Flexibility of contract</li>
						</ul>
					</div>
					<div class="columns large-6 medium-6">
						<ul class="no-bullet change-color">
							<li>Cost and time advantage</li>
							<li>Benchmarking against best practices</li>
							<li>Better risk management </li>
							<li>Improved market connection</li>
						</ul>
					</div>
			</div>		
		</div></div>
		<div class="clearfix"></div>
		<div class="row">
			<div class="large-6 columns">
				<a name="marketing"></a>
				<h5 class="subheader">Marketing</h5>

		<div class="readmore">	<%= image_tag "marketing.jpg", class: "lazyload left margin-right-10 th-no-hover", style: "width:180px;height:180px;"%>
					<p>In today’s era there is no denying that marketing is an essence. The problem however is, there is too much depth in the marketing options. There are arrays of options for strategies, platforms, concepts and software. Well it brings nightmare to any business on choosing the right form of marketing. The answer however, thankfully, isn’t that terrifying. You need to identify the right marketing purely on your needs and your business’s goals. That is where Clock b Business Innovations steps in, to find you the best suited solutions.  We tailor up strategies that fit your interests and then work with tools that lead to your ultimate marketing objectives.</p>


		</div>
		<div id="request-for-x" class="request-button">
			<a href="<%= new_request_path %>?_x=meeting&amp;_y=marketing" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Request for meeting</a>
		</div>
		
		</div>
		<div class="large-6 columns">
			<a name="social-media-management"></a>

			<h5 class="subheader">Social Media Management</h5>
		<div class="readmore">
			<%= image_tag "social-media.jpg", class: "lazyload left margin-right-10 th-no-hover", style: "width:180px;height:180px;" %>
			<p>Social media is power. Even the mightiest businesses haven’t been able to figure out what actually to do with this tool of power. Many businesses spent hours each day on figuring out how this tool would best fit their interest. Social media is growing and showing no signs of settling down, so now it is time for all businesses to solidify their presence in social media, create and execute a full-blown strategy. Clock b Business Innovations offers its personalized social media strategies to help businesses to make an impact on this powerful platform. Learn about your audience, find new customers, generate leads, analyze results, and much more with our social media management outsourcing service.</p>

		
		</div>
		<div id="request-for-x" class="request-button">
			<a href="<%= new_request_path %>?_x=meeting&amp;_y=social-media-management" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Request for meeting</a>
		</div>
		
		</div>
		</div>
		
		<div class="row">
		<div class="large-6 columns"><a name="relationship-management"></a><h5 class="subheader">Relationship Management</h5>
			<div class="readmore">
						<%= image_tag "reln-mgmt.jpg", class: "lazyload left margin-right-10 th-no-hover", style: "width:180px;height:180px;" %><p>Relationship is not only about or for the transactions we make with our business. Maintaining healthy relationship with different stakeholder groups is one important key to success. Whether it’s a supplier, client, businesses or any other stakeholder group, they are likely to follow businesses with which they enjoy a hale and hearty relation. Maintaining level of communication and engagement is no longer an option, it’s a must. Clock b Business Innovations builds strategies to manage and analyze information and then help to implement those strategies with the intention to develop strong business relationships. Our service is to ensure you build lasting relationships to catapult your business to success.</p></div>
						<div id="request-for-x" class="request-button"><a href="<%= new_request_path %>?_x=meeting&amp;_y=relationship-management" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Request for meeting</a></div>
		</div>
		<div class="large-6 columns"><a name="r-and-d-of-strategies"></a><h5 class="subheader">R &amp; D of Strategies</h5>
			<div class="readmore"><%= image_tag "r-and-d.jpg", class: "lazyload left margin-right-10 th-no-hover", style: "width:180px;height:180px;" %><p>You can’t reach your destination by walking on a road you simply don’t know. Similarly, you can never meet your business objectives by not knowing your strategy or without having a plan. Defunct or no strategy leads businesses to uncertainty plus allows the competitors to stroll ahead of you in the market. Clock b Business Innovations tailors personalized strategies that would meet the interest of your company and put the issue of blurred future into rest by providing clear directions. Our success is attached to your results so we continually work to build you from your core and lead you to brighter and silkier roads that would ultimately end up meeting your destination.</p></div>
			<div id="request-for-x" class="request-button"><a href="<%= new_request_path %>?_x=meeting&amp;_y=r-and-d-of-strategies" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Request for meeting</a></div>
		</div></div>
		<hr />

		<a  data-magellan-destination="networking" name="networking"></a>
		<h4>Networking</h4>
		<p>There is simply no denying that invaluable networking is the prime foundation of success for any business but the question that looms is; "How do you make that invaluable connection?"</p>
		<div class="readmore">
<p>Well, the question is as old as excel itself which has been triggered by millions of entrepreneurs all over the world looking for the right answer. Those who have logically clicked the right connections have thrived and made fortunes but in this fragile, complex, ever-changing and unpredictable market the continuation of building the invaluable networking is of more essence than ever. Furthermore,</p>
<div class="panel"><blockquote class="text-center subheader">“Invaluable connection isn’t impossible, it’s just that easy get lost in the city of millions.”</blockquote></div>

<p>Clock b Business Innovations is attempting to build bridges in the market so that our clients could make that invaluable connection a reality. We do understand, varying background of different businesses would need diverse sort of connections. Putting that into consideration Clock b Business Innovations tailors its networking service as of the client’s requirements. </p>
<p>Whether you are searching for a vendor, professionals of different fields, businesses, agents, experts, advisors, entrepreneurs or any connections to boom your business, we at Clock b would map you with the invaluable ones.</p>
</div>
		<div id="request-for-x" class="clearfix request-button">
			<a href="<%= new_request_path %>?_x=meeting&amp;_y=networking" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="true" class="button info tiny">Request for meeting</a>
		</div>
		<div class="clearfix"></div>
		<a name="packages"></a>
		<h5 class="subheader">Packages</h5>
		<p>Clock b Business Innovations brings in the quintessential elements of networking giving it an innovative touch to offer the right networking packages that suits to your requirement. </p>

<div class="panel"><blockquote class="text-center subheader">“Meet, explore, connect, engage, promote”</blockquote></div>
<p>Level-up your ways of networking. Acquire your invaluable connections out of Clock b networking packages.</p>
		<a name="regular-package"></a>
		<a name="premium-package"></a>
		<p>Our networking package:</p>
		
		
		<%= render partial: "shared/regular_premium" %>
		
		
		<div class="panel"><blockquote class="text-center">Say “HELLO” to the new way to Network. </blockquote></div>
		
		<a name="events"></a>	
		<h5 class="events">Events</h5>
		<p>Even a person with a minute knowledge of networking would not argue with the fact that the right networking; is gold.  In today’s crowded and competitive market for a business to succeed, right networking is simply not an alternative; it’s a must have element. Our events, at its core, are designed to enact the role of a hub with an uncomplicated aim to build the connection that suits your and your business’s interest. Meant for your promotion, introduction and connection with the market, Clock b’s networking events aims our client’s develop the Midas’s touch in their networking so that every relation you construct yields gold.</p>
		<a class="button tiny"href="<%= events_browse_path %>" >Browse our events</a>
		<hr />

		<a data-magellan-destination="innovation" name="innovation"></a>
		<h4>Innovation</h4>
		<div class="readmore">
			<p>In this competitive, ever-changing, and evolving business world there is simply no substitute for innovation. Based on your business’s agendas, we introduce flexible, applicable and realistic ideas to help you in innovating your products, services and strategies. Clock b Business Innovations provides you an edge over your competitors, lets you earn satisfied customers, redesign your strategies that would work, discover market opportunity and above all, meet your unmet needs and goals.</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
				<ul class="no-bullet hide">
		<li>Strategy Innovation</li>
		<li>Product/service Innovation</li>
		<li>Innovation consulting</li>
		</ul>
		
		<div class="panel"><blockquote class="text-center subheader">“Enter the searching mode and never exit; because if you keep searching, you will always discover something new and startling.”</blockquote></div>
				<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-4"> 
					<li>
						<%= image_tag "innovation1.jpg", class: 'th-no-hover lazyload' %>
					</li>
					<li>
						<%= image_tag "innovation2.jpg", class: 'th-no-hover lazyload' %>
					</li>
					<li>
						<%= image_tag "innovation3.jpg", class: 'th-no-hover lazyload' %>
					</li>
				</ul></div>
				
		<div id="request-for-x" class="request-button">
			<a href="#" id="myModal-button" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path %>?_x=meeting&amp;_y=innovation" class="button info tiny">Request for meeting</a>
					<hr>
		<div class="panel radius"><p>*Note: Clock up for our service. Notify us about your services needs by clicking the request for meeting button.</p></div>
		<hr />
		<%= render partial: 'layouts/side_footer' %>
	</div>


<!-- <ul class="side-nav">
	<li class="heading">Company Profile</li>
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul> -->
</div>

