<% if @meetup.errors.any? %>
$('div.success').hide();
$('div.errors').show();
<% else %>
$('div.success').hide();
$('div.errors').hide();
$('div.success').hide();
<% if @meetup.meetup? %>
<% @id = 'meetup'  %>
$('div#meetup_form_<%= @meetup.user_x %>')
	.html('<button class="button tiny success disabled right">Meetup Request Sent</button>');

// $('form#new_usermeetup input#<%= @id %>')
	// .html('<button class="button tiny success disabled right">Meetup Request Sent</button>');

	// .addClass('success disabled')
	// .prop("value", 'Meetup request sent')
<% end %>
<% if @meetup.event? %>
<% @id = 'event_' << @meetup.user_x.to_s %>
$('form#new_usermeetup input#<%= @id %>')
	.addClass('success disabled')
	.prop("value", 'Registered')
<% end %>
<% if @meetup.webinar? %>
<% @id = 'webinar' %>
$('form#new_usermeetup input#<%= @id %>').addClass('success disabled');
<% end %>
<% if @meetup.service_offered? %>
<% @id = 'service_offered_' << @meetup.user_x.to_s %>
$('form#new_usermeetup input#<%= @id %>')
	// .removeClass('info')
	.addClass('success disabled')
	.prop("value", 'Service Offered')
	
	$('#business-requirement-item').foundation('reveal', 'close');
	
<% end %>
<% end %>
