<br>
<div class="row">
	<div class="columns">
		<div class="row">
			<div class="columns large-11 small-centered">
				<%= render partial: 'pages/dashboard/main/company_personal_information' %>
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="columns">
				<%= render partial: 'pages/dashboard/main/networking_profiles' %>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="columns large-6">
				<%= render partial: 'pages/dashboard/main/business_requirements' %>
			</div>
			
			<div class="columns large-6">
				<%= render partial: 'pages/dashboard/main/advertisements' %>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="columns">
				<%#= render partial: 'pages/dashboard/main/videos' %>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="columns large-6">
				<%= render partial: 'layouts/calendar' %>
				<br>
				<h5>Upcoming Events</h5>
				<%= render partial: 'layouts/upcoming_events' %>
				<h5>Meetings</h5>
			</div>
	
			<div class="columns large-6">
				<%= render partial: 'pages/dashboard/main/event_gallery' %>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="columns large-6">
				<%= render partial: 'pages/dashboard/main/resources' %>
			</div>

			<div class="columns large-6">
				<%= render partial: 'pages/dashboard/main/webinar' %>
			</div>
		</div>

	</div>
</div>