<div id="myModal-content" class="reveal-modal small" data-reveal></div>
<div class="clearfix panel callout">
	
<% unless @user.animated_video.in?([nil, '[deleted]', '[requested]', '']) %>
		<div class="flex-video"><%= content_tag @user.animated_video %></div>
		<div class="clearfix"></div>
		<%= form_for @user, url: registration_path(@user), remote: true do |f| %>
			<%= f.hidden_field :animated_video, value: '[deleted]' %>
			<%= f.hidden_field :remove_animated_video_file, value: true %>
			<%= f.submit "Delete", class: 'alert button tiny left', data: {:confirm => 'Delete: Are you sure?'} %>
		<% end %>
		<% if @user.animated_video_file.present? %>
			<%= link_to("Download", download_animated_video_path, class: "button tiny info right") %>
			<%#= @user.animated_video_file %>
		<% end %>
<% end %>
	<% if @user.animated_video.in? (['','[deleted]', nil]) %>
	<a href="#" data-reveal-id="myModal-content" data-reveal-ajax="<%= new_request_path(_x: 'animated_video', _z: @user.id) %>" class="button tiny info right" style="width:100%", data-type="JSON">Request for Animated Video</a>
	<% end %>

	<% if @user.has_requested_animated_video? %>
			<button class="info tiny disabled right" style="width:100%;"><i class="fi-check">&nbsp;</i>Request for Animated Video Sent</button>
	<% end %>
</div>

