<div class="clearfix">
	<% @user.networking_requirements.each do |req| %>
	<div class="panel clearfix callout" id='<%= "net_req_id_#{req.id}" %>' style="padding:10px;">
		<%= req.content %>
		<%= link_to "<i class='fi-trash'></i>".html_safe, user_networking_requirement_path(@user, req), class: 'right', method: :delete, data: {confirm: 'Delete: Are your sure?'}, remote: true, style: 'font-size: larger;padding:0 5px 0 5px;' %>
		<div class="clearfix"></div>
	</div>
	<% end %>
</div>
<div class="panel clearfix">
	<a href="#" data-reveal-id="networking-requirement-form" class="button info tiny" style="width:100%">
		Add Requirement
	</a>
</div>
<div id="networking-requirement-form" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h4 id="modalTitle">Add Networking Requirement</h4>
	<div class="panel clearfix">
	<%= form_for [@user, @user.networking_requirements.build], remote: true do |f| %>
			<%= f.select :content, 
				:collection => 
				[
					["Agriculture & Forestry Sector","Agriculture & Forestry Sector"],
					["Arts, Entertainment & Recreation Sector","Arts, Entertainment & Recreation Sector"],
					["Business Innovation","Business Innovation"],
					["Business Services Sector","Business Services Sector"],
					["Construction Sector","Construction Sector"],
					["Consumer Services","Consumer Services"],
					["Education Sector","Education Sector"],
					["Electric Utilities","Electric Utilities"],
					["Finance & Insurance Sector","Finance & Insurance Sector"],
					["Government","Government"],
					["Health Care Sector","Health Care Sector"],
					["IT & Technology","IT & Technology"],
					["Lodging","IT & Technology"],
					["Management of Companies & Enterprises","Management of Companies & Enterprises"],
					["Manufacturing Sector","Manufacturing Sector"],
					["Media","Media"],
					["Membership Organizations","Membership Organizations"],
					["Mining","Mining"],
					["Natural Gas Distribution","Natural Gas Distribution"],
					["Nonprofit Institutions","Nonprofit Institutions"],
					["Oil & Gas","Oil & Gas"],
					["Others","Others"],
					["Private Households","Private Households"],
					["Professional Services Sector","Professional Services Sector"],
					["Real Estate","Real Estate"],
					["Religious Organizations","Religious Organizations"],
					["Rental & Leasing","Rental & Leasing"],
					["Restaurants, Bars & Food Services","Restaurants, Bars & Food Services"],
					["Retail Sector","Retail Sector"],
					["Transportation Services Sector","Transportation Services Sector"],
					["Water & Sewer Utilities","Water & Sewer Utilities"],
					["Wholesale Sector","Wholesale Sector"]
				]

			%>
			<%= f.submit "Add", class: 'button tiny info right', data: {disable_with: "Please wait..."} %>
			<%= render partial: 'pages/dashboard/preloader' %>
	<% end %>
	</div>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>