<div class="clearfix">
	<% @user.business_requirements.each do |req| %>
	<div class="panel clearfix" id='<%= "biz_req_id_#{req.id}" %>' style="padding:5px;">
		<%= link_to "<i class='fi-pencil'></i>".html_safe, "javascript:void(0);", class: "right edit_biz_id_#{req.id}", style: 'font-size: larger;padding:0 5px 0 5px;' %>
		<%= link_to "<i class='fi-trash'></i>".html_safe, business_requirement_path(req), class: 'right', method: :delete, data: {confirm: 'Delete: Are your sure?'}, remote: true, style: 'font-size: larger;padding:0 5px 0 5px;' %>
		<%= best_in_place req, :content, class: 'left contain-to-grid', :ok_button => "Save", ok_button_class: "inline button tiny info right", :cancel_button => "Cancel", cancel_button_class: "button tiny secondary inline left", :activator => "a.edit_biz_id_#{req.id}", style: 'padding:10px;' %>
		<!-- <a class="close-reveal-modal">&#215;</a> -->
		<div class="clearfix"></div>
	</div>
	<% end %>
</div>
	<div class="panel">
	<%= form_for @user, url: registration_path(@user), remote: true do |f| %>
		<%= f.fields_for :business_requirements, @user.business_requirements.build do |r| %>
			<%= r.text_area :content, :placeholder => '+ Add Business Requirement' %>
		<% end %>
		<%= f.submit "Post your Requirement", class: 'button tiny info', style: 'width:100%;' %>
	<% end %>
	</div>
	<!-- bip -->
	<%# @user.business_requirements.each do |reqn| %>
		<%#= best_in_place reqn, :content, url: registration_path(@user), :place_holder => '+ Add Business Requirement', class: 'panel left', style: 'width:100%;' %>
	<%# end %>
	<%#= best_in_place @user, :business_requirements, url: registration_path(@user), class: 'panel left', style: 'width: 100%;', :place_holder => '+ Add Business Requirement' %>
