<div class="clearfix">
	<% @user.logo_and_images.each do |req| %>
	<div class="panel clearfix callout" id='<%= "logo_and_image_id_#{req.id}" %>' style="padding:5px;">
		<%= image_tag req.content_url(:dashboard), class: 'th-no-hover lazyload' %>

		<%= link_to "<i class='fi-trash'></i>".html_safe, user_logo_and_image_path(@user, req), class: 'right', method: :delete, data: {confirm: 'Delete: Are your sure?'}, remote: true, style: 'font-size: larger;padding:0 5px 0 5px;' %>
	</div>
	<% end %>
</div>
<div class="panel">
	<a href="#" data-reveal-id="log-and-image-form" class="button info tiny" style="width:100%">
		Upload an Image
	</a>
</div>
<div id="log-and-image-form" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h4 id="modalTitle">Your Logo &amp; Image</h4>
	<div class="panel clearfix">
	<%= form_for [@user, @user.logo_and_images.build], remote: true, :html => {multipart: true}, data: {type: :script} do |f| %>
			<%= f.file_field :content, class: '' %>
		<%= f.submit "Upload", class: 'button tiny right info', data: {:disable_with => 'Please wait...'} %>
		<%= render partial: 'pages/dashboard/preloader' %>
	<% end %>
	</div>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>