<%= content_for :page_title, 'Dashboard2' %>
<div class="row">
	<!-- Left column -->
	<div class="large-4 medium-5 columns width-finder bg-left" data-equalizer-watch>
		<ul class="side-nav custom-side-nav" style="font-size:small;">
			<!-- your profile -->
			<li class="heading">your profile</li>
			<li class="divider"></li>
			<%= render partial: 'pages/dashboard/your_profile' %>
			<!-- how to use our website -->
			<li class="heading">how to use our website</li>
			<li class="divider"></li>
			<%= render partial: 'pages/dashboard/how_to_use' %>

			<!-- your logo and image -->
			<li class="heading">your logo &amp; image</li>
			<li class="divider"></li>

			<!-- website and headline message -->
			<li class="heading">website &amp; headline message</li>
			<li class="divider"></li>
			<!-- webiste -->
			<%= render partial: 'pages/dashboard/website' %>
			
			<!-- headline message -->
			<%= render partial: 'pages/dashboard/headline_message' %>

			<!-- your animated video -->
			<li class="heading">your animated video</li>
			<li class="divider"></li>
			<div id="your_animated_video">
				<%= render partial: 'pages/dashboard/your_animated_video' %>
			</div>
			
			<!-- your business 
			requirement -->
			<li class="heading">your business requirement</li>
			<li class="divider"></li>
			<div id="your_business_requirement">
			<%= render partial: 'pages/dashboard/your_business_requirement' %>
			</div>

			<!-- your advertisement -->
			<li class="heading">your advertisement</li>
			<li class="divider"></li>
			<div id="your_advertisement">
			<% if @user.regular? %>
			<%= render partial: 'pages/dashboard/your_advertisement' %>
			<% else %>
			<%= render partial: 'shared/upgrade_to_premium', locals: {_x: 'premium', _y: 'dashboard_advert', _z: @user.id} %>
			<% end %>
			</div>
			
			<!-- your social media links -->
			<li class="heading">your social media links</li>
			<li class="divider"></li>
			<div id="your_social_media_links">
			<% if @user.regular? %>
			<%= render partial: 'pages/dashboard/your_social_media_links' %>
			<% else %>
			<%= render partial: 'shared/upgrade_to_premium', locals: {_x: 'premium', _y: 'dashboard_social_media_links', _z: @user.id} %>
			<% end %>
			</div>
			
			<!-- your networking requirement -->
			<li class="heading">your networking requirement</li>
			<li class="divider"></li>
			<div id="your_networking_requirements">
			<%= render partial: 'pages/dashboard/your_networking_requirements' %>
			</div>

			<!-- feedbacks -->
			<li class="heading">feedbacks</li>
			<li class="divider"></li>
			<%= render partial: 'pages/dashboard/feedbacks' %>
		</ul>
	</div>

	<!-- Right column -->
	<div class="large-8 medium-7 columns bg-right" data-equalizer-watch>
	
	</div>
</div>