<div id="advert_form">
	<h2>Post an advert</h2>
<%= form_for @advert, remote: true, method: :post do |f| %>
<fieldset>
	<legend>Upload an image</legend>
	<%= f.label "For best result, upload image greater than 470x350 pixels" %>
	<br>
	<%= f.file_field :image, :required => true%>
	<%= f.hidden_field :image_cache %>
</fieldset>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.text_area :content, :placeholder => 'Description', :rows => 4 %>
	<%= f.submit "Post", class: "button small" %>
<% end %>
<div class="preloader hide"><p class="label radius secondary"><i class="fi-minus-circle">&nbsp;</i>Working</p></div>
	<div class="errors hide"><p class="label radius secondary" style="color:red;"><i class="fi-x">&nbsp;</i>Error</p></div>
	<div class="success hide"><p class="label radius secondary" style="color:green;"><i class="fi-check">&nbsp;</i>Success</p></div>
</div>
<a class="close-reveal-modal">&#215;</a>