<div class="calendar">
	<div class="month">
	<%= link_to "", {start_date: date_range.first - 1.day}, class: "back button", remote: true  %>
	<%= link_to "", {start_date: date_range.last + 1.day}, class: "next button", remote: true %>
	<h5><%= I18n.t("date.month_names")[start_date.month] %></h5><p class="text-center"><%= start_date.year %></p>
</div>
	

	
			<ul class="weekdays">
				<% date_range.slice(0, 7).each do |day| %>
					<li><span href="#"><%= I18n.t("date.abbr_day_names")[day.wday] %></span></li>
				<% end %>
			</ul>
		

		<ul class="days">
			<% date_range.each_slice(7) do |week| %>
					<% week.each do |day| %>
						<%= content_tag :li, class: calendar.td_classes_for(day) do %>
			
									<% if defined?(Haml) && block_is_haml?(block) %>
										<% capture_haml do %>
											<% block.call day, sorted_events.fetch(day, []) %>
										<% end %>
									<% else %>
										<% block.call day.day, sorted_events.fetch(day, []) %>
									<% end %>


						<% end %>
					<% end %>
			<% end %>
		</ul>
</div>
