<div class="clearfix"></div>
<h5>All threads</h5>
<% unless @all_event_discussion.nil? %>
	<div id="new_discussion_item">
		<ul class="no-bullet">
		<% @all_event_discussion.each do |discussion| %>
			<li class="panel">
				<h6 class="subheader"><%= discussion.commenter %></h6>
				<p><%= discussion.comment %></p>
				
				<div id="reply_comment_<%= discussion.id %>">
					<ul class="no-bullet">
						<% @event_discussion_replies = EventDiscussion.event_discussion_replies(event_id, discussion.id) %>
						<% unless @event_discussion_replies.nil? %>
							<% @event_discussion_replies.each do |reply| %>
							<li class="panel callout radius">
								<h6 class="subheader"><%= reply.commenter %></h6>
								<p><%= reply.comment %></p>
							</li>
							<% end %>
						<% end %>
					</ul>
				</div>
				<div class="clearfix"></div>
				<div id="reply_form_<%= discussion.id %>" class="hide">
					<%= form_for @new_event_discussion, html: {:id => "#{discussion.id}", class: "reply_form"}, remote: true do |f| %>
						<%= f.text_field :commenter, placeholder: "Your full name", required: true %>
						<%= f.text_area :comment, placeholder: "Type your comment here...", id: 'new_event_discussion_form', required: true %>
						<%= f.hidden_field :user_id, value: user_id %>
						<%= f.hidden_field :event_id, value: event_id %>
						<%= f.hidden_field :in_reply_to, value: discussion.id %>
						<%= f.submit "Post", class: "button tiny right", data: {disable_with: "Please wait..."} %>
					<% end -%>
				</div>
				

				<a href="javascript:void(0);" class="reply" id="<%= discussion.id %>">Add your comment</a>
			</li>
		<% end -%>
		</ul>
	</div>
<% else -%>
<p>No Comments found</p>
<% end -%>
<script type="text/javascript">
	$("a.reply").on('click', function(){
		var id = $(this).attr('id');
		$("div#reply_form_"+id).toggleClass('hide');
		$(document).foundation();
	});
	// $("form.reply_form").live("ajax:complete", function(evt, data, status, xhr){
	// 	alert(data);
	//        var id2 = $(this).attr('id');
	//        $("div#reply_comment_"+id2+" > ul").append("<li class=\"panel callout\">data</li>")
	// 		$(document).foundation();
	//    });
</script>