<div class="clearfix"></div>
<h5>All threads</h5>
<% unless @all_event_discussion.nil? %>
	<div id="new_discussion_item">
		<ul class="no-bullet">
		<% @all_event_discussion.each do |discussion| %>
			<li class="panel">
				<h5><%= User.find_by_id(discussion.user_id) %></h5>
				<p><%= discussion.comment %></p>
				<a href="javascript:void(0);" class="reply" id="<%= discussion.id %>">Reply</a>
				<div id="reply_comment_<%= discussion.id %>">
					<ul class="no-bullet">
					</ul>
				</div>
				<div id="reply_form_<%= discussion.id %>" class="hide">
					<%= form_for @new_event_discussion, html: {:id => "#{discussion.id}", class: "reply_form"}, remote: true do |f| %>
						<%= f.text_area :comment, placeholder: "Type your comment here...", id: 'new_event_discussion_form' %>
						<%= f.hidden_field :user_id, value: user_id %>
						<%= f.hidden_field :event_id, value: event_id %>
						<%= f.hidden_field :in_reply_to, value: discussion.id %>
						<%= f.submit "Post", class: "button tiny right", data: {disable_with: "Please wait..."} %>
					<% end -%>
				</div>
				<div class="clearfix"></div>
			</li>
		<% end -%>
		</ul>
	</div>
<% else -%>
<p>No Comments found</p>
<% end -%>
<script type="text/javascript">
	$("a.reply").on('click', function(){
		var id = $(this).attr('id');
		$("div#reply_form_"+id).toggleClass('hide');
		$(document).foundation();
	});
	$("form.reply_form").live("ajax:complete", function(evt, data, status, xhr){
		alert(data);
	       var id2 = $(this).attr('id');
	       $("div#reply_comment_"+id2+" > ul").prepend("<li class=\"panel radius\">data</li>")
			$(document).foundation();
	   });
</script>