<div class="contain-to-grid" style="background-color:#e3e3e3;"><!-- Footer -->
  <footer class="row">
    <div class="columns">
<!--           <ul class="inline-list left">
            <li><%= image_tag 'linkedin.png', class: 'lazyload'%></li>
            <li><%= image_tag 'facebook.png', class: 'lazyload'%></li>
            <li><%= image_tag 'twitter.png', class: 'lazyload'%></li>
          </ul> -->
          <ul class="inline-list right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Clock b', clockb_path %></li>
            <li><%= link_to 'Services', services_path %></li>
            <li><%= link_to 'Careers', careers_path %></li>
            <li><%= link_to 'Events', events_path %></li>
            <li><%= link_to 'Resources', resourcexes_path %></li>
        </ul>
    </div>
  </footer></div>