<!-- Footer -->

 

  <footer class="row">

    <div class="large-12 columns">

      <hr />

      <div class="row">

        <div class="large-6 medium-6 columns">

          <ul class="inline-list left">
            <li><%= image_tag 'linkedin.png', class: 'lazyload'%></li>
            <li><%= image_tag 'facebook.png', class: 'lazyload'%></li>
            <li><%= image_tag 'twitter.png', class: 'lazyload'%></li>
          </ul>

        </div>

        <div class="large-6 medium-6 columns">

          
        <ul class="inline-list right">
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Clock b', clockb_path %></li>
<li><%= link_to 'Services', services_path %></li>
<li><%= link_to 'Careers', careers_path %></li>
<li><%= link_to 'Events', events_path %></li>
        </ul>

        </div>

      </div>

    </div>

  </footer>