<%# add navigation links to this file %>
<li><%= link_to 'Home', root_path %></li>
<li><%= link_to 'Clock b', clockb_path %></li>
<li><%= link_to 'Services', services_path %></li>
<li><%= link_to 'Careers', careers_path %></li>
<li><%= link_to 'Events', events_path %></li>



