<div class="contain-to-grid fixed">
<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false" data-no-turbolink>
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <!-- <div class="clearfix"> -->
  <ul class="right customgap">
    <% if member_signed_in? %>
    <li class="has-dropdown">
        <a href="#" class="button secondary tiny radius"><i class="fi-widget">&nbsp;</i>Settings</a>
        <ul class="dropdown">
          <li><%= link_to 'My Events', my_events_path, class: '' %></li>
          <li><%= link_to 'Profile', edit_member_registration_path %></li>
          <li class="active"><%= link_to 'Sign out', destroy_member_session_path, :method => 'delete' %></li>
          <!-- <li class="active"><a href="<%= destroy_member_session_path %>" data-method="delete" rel="nofollow"><i class="fi-power">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>Sign out</a></li> -->
        </ul>
      </li>
    <% else %>
      <li><%= link_to 'Sign in', new_member_session_path, class: 'button secondary' %></li>
      <li><%= link_to 'Sign up', new_member_registration_path, class: 'button' %></li>
    <% end %>
    
  </ul>
<!-- </div> -->
  <!-- Left Nav Section -->
  <ul class="left">
    <%= render 'layouts/navigation_links' %>
  </ul>
</section>
</nav>
</div>