		<!-- Logo -->
	    <div class="row">
	      <div class="large-6 medium-6 small-12 columns">
	        <%= image_tag "clockb-logo-mini.jpg", class: 'lazyload' %>
	      </div>
	      <div class="large-6 medium-6 small-12 columns">
	      	<br />
	      	<h4>Contact Information</h4>
	      	<ul class="vcard">
			  <li class="fn">Clock b Business Innovations</li>
			  <li class="street-address">123 Colonial Ave.</li>
			  <li class="locality">Caprica City</li>
			  <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
			  <li class="email"><a href="#">info@clockb.com</a></li>
			  <li class="social-media">
			  	<a href="#"><i class="fi-social-facebook" style="font-size:30px;"></i></a>
			  </li>
			</ul>
	      </div>
	    </div>
	    <div class="row">
	    	<div class="columns">
	    		<hr />
	    		<ul class="inline-list right">
		            <li><%= link_to 'Home', root_path %></li>
		            <li><%= link_to 'Clock b', clockb_path %></li>
		            <li><%= link_to 'Services', services_path %></li>
		            <li><%= link_to 'Careers', careers_path %></li>
		            <li><%= link_to 'Events', events_path %></li>
        		</ul>
	    	</div>
	    </div>
<!-- 	    <hr />
	    <div class="row">

        <div class="large-12 medium-12 small-12 columns">

          <p>&copy; Copyright message goes here</p>

        </div>
    	</div> -->