<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Clockb Demo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Clockb Demo" %>">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "lazysizes.min", 'async' => '' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Top Navigation -->
    <%= render 'layouts/navigation' %>

    <!-- Logo and social icons -->
    <div class="row">
      <div class="large-6 medium-6 columns"><h2>Clock b</h2></div>
    </div>
        
    <%= yield %>

    <%= render 'layouts/footer'%>

  </body>
</html>
