<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Clockb Demo" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Clockb Demo" %>">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "lazysizes.min", 'async' => '' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Top Navigation -->
    <%= render 'layouts/navigation' %>
    <!-- Logo -->
    <div class="row">
      <div class="large-6 medium-6 columns">
        <%= image_tag "clockb-logo.jpg", class: 'lazyload' %>
      </div>
    </div>
    <!-- Breadcrumb -->
    <div class="row">
      <div class="columns">
        <%= breadcrumbs display_single_fragment: false, pretext: "You are here: ", style: :foundation5 %>
      </div>
    </div>
    <!-- Flash messages -->
    <div class="clearfix">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
    <!-- Footer -->
    <%= render 'layouts/footer'%>
  </body>
</html>
