<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="controller" content="<%= "pages" %>"></meta>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "Clockb" %></title>
    <meta name="description" content="<%= content_for?(:page_description) ? yield(:page_description) : "Clockb Demo" %>">
    <%= stylesheet_link_tag    "application" %>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "lazysizes.min", 'async' => '' %>
    <%= javascript_include_tag "readmore", 'async' => '' %>
    <%= javascript_include_tag "custom-magellan", 'async' => '' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="top-navigation">
      <!-- Top Navigation -->
      <%= render 'layouts/navigation' %>
    </div>
    
    <div id="breadcrumb">
      <!-- Breadcrumb -->
      <div class="row">
        <div class="columns">
          <%= breadcrumbs display_single_fragment: false, pretext: "You are here: ", style: :foundation5 %>
        </div>
      </div>
    </div>
    <div id="yield">
    <% if current_page?(action: 'home') %>
      <%= yield %>
    <% else %>
      <div class="full" data-equalizer>
        <div class="column-fluid bg-left" data-equalizer-watch>&nbsp;</div>
        <div class="column-fixed" data-equalizer-watch>
          <%= yield %>
        </div>
        <div class="show-for-large-up column-fluid bg-right" data-equalizer-watch>&nbsp;</div>
      </div>
    <% end %>
    </div>

  </body>
</html>
