<% content_for :page_title , 'Sign Up' %>
<div class="contain-to-grid" style="background-color:#008CBA;">
<div class="row" style="background-color:#008CBA;">
      <!-- Flash messages -->
    <div class="clearfix">
      <%= render 'layouts/messages' %>
    </div>
<div class="large-6 small-centered columns panel">
  <ul class="side-nav">
    <li class="heading">sign up</li>
    <li class="divider"></li>
  </ul>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  
  <div class="fields_for">
    <%= f.fields_for :inputs do |i| %>
    <%= i.hidden_field :type, value: 'networker' %>
    <div class="field">
      <%= i.radio_button :company, "company", :checked => true, autofocus: true %>
      <%= i.label :company_company, "Company" , class: 'inline' %>
      <%= i.radio_button :company, "personal" %>
      <%= i.label :company_personal, "Personal" %>
    </div>
    <br>
    <div class="field">
      <%= i.label :name %>
      <%= i.text_field :name, required: true %>
    </div>
    <div class="field">
      <%= i.label :person_in_charge %>
      <%= i.text_field :person_in_charge %>
    </div>
    <div class="field">
      <%= i.label "Contact Number" %>
      <%= i.telephone_field :contact, required: true %>
    </div>
    <div class="field">
      <%= i.label "Type of Business" %>
      <%= i.text_field :profile, required: true %>
    </div>
    <div class="field">
      <%= i.label "Select Package" %>
      <%= i.radio_button :package_selected, "regular", checked: true %>
      <%= i.label :package_selected_regular, "Regular", class: 'inline' %>
      <%= i.radio_button :package_selected, "premium" %>
      <%= i.label :package_selected_premium, "Premium"%>
    </div>
    <% end %>
  </div>
<br>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true %>
  </div>
  <div class="actions clearfix">
    <ul class="side-nav">
    <li class="divider"></li>
  </ul>
    <%= f.submit "Sign up", class:'button primary small right'%>
  </div>
<% end %>
</div>
</div>
</div>